<span #input>  
  <ion-item  (tap)="scrollTo()"   pl-0 [attr.err-mode]="(!validControl.valid && active)?'':null">
      <ion-label stacked>{{label}} <span ion-text color="danger" *ngIf="errorMessage_Required"> * </span></ion-label>
        <ion-input *ngIf="!isTextArea"
            [readonly] = "readonly ? true:false"
            [type]="type" 
            [formControl]="validControl"
            [placeholder]="placeholder">
        </ion-input>
        <ion-textarea *ngIf="isTextArea"
            rows="3" 
            cols="20" 
            [readonly] = "readonly ? true:false"
            [type]="type" 
            [placeholder]="placeholder"
            [formControl]="validControl">
        </ion-textarea>
  </ion-item>
  <expandable [expanded]="!validControl.valid" *ngIf="active">
    <span *ngIf="validControl.errors">
      <p no-margin mt-5 err *ngIf="validControl.errors.required">
        <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> {{errorMessage_Required}}
      </p>
      <p no-margin mt-5 err *ngIf="validControl.errors.maxlength">
        <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> {{errorMessage_Maxlength}}
      </p>
      <p no-margin mt-5 err *ngIf="validControl.errors.validEmail">
        <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> {{errorMessage_ValidEmail}}
      </p>
      <p no-margin mt-5 err *ngIf="validControl.errors.validNumber">
        <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> {{errorMessage_ValidNumber}}
      </p>
    </span>
  </expandable>
</span>
