<ion-header>
  <ion-navbar>
    <ion-toolbar>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <div>
        <ion-row>
          <ion-searchbar col-md-7 mode="ios" animated="true" debounce="500" placeholder="Tìm kiếm nhân viên"
            [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="setFilteredItems()">
          </ion-searchbar>
        </ion-row>
      </div>
      <ion-buttons right>
        <button ion-button font20 (tap)="openFilter()">
          <ion-icon name="funnel"></ion-icon>
        </button>
        <button item-end ion-button font20 showWhen="core" (tap)="sync()">
          <ion-icon name="sync"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <ion-item-divider custom-diviver sticky="true" showWhen="core">
    <ion-row>
      <ion-title ion-text font15 color="dark">Danh sách nhân viên</ion-title>
      <button *ngIf="userProvider.rolePermission.ROLE_them_nhan_vien!=null" ion-button item-end mode='ios' color="secondary" (tap)="addNewEmployee()">Thêm mới nhân viên</button>
    </ion-row>
  </ion-item-divider>
  <ion-item-divider sticky="true" showWhen="ios,android">Danh sách nhân viên</ion-item-divider>

  <ion-list>
    <button ion-item *ngFor="let item of visible_items" (tap)="viewDeltail(item)">
      <ion-avatar item-start>
        <img src="../../assets/imgs/default-user.png">
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <ion-row>
        <ion-col [attr.col-3]="platform.is('core')?'':null" [attr.col-6]="!platform.is('core')?'':null" text-wrap>
          <p><b>Trang trại:</b> {{item.farmName}}</p>
        </ion-col >
        <ion-col [attr.col-3]="platform.is('core')?'':null" [attr.col-6]="!platform.is('core')?'':null" text-wrap>
          <p><b>Ngày sinh:</b> {{item.birthday|date:'dd/MM/yyyy'}}</p>
        </ion-col >
        <ion-col [attr.col-3]="platform.is('core')?'':null" [attr.col-6]="!platform.is('core')?'':null" text-wrap>
          <p><b>Giới tính:</b> {{item.genderName}}</p>
        </ion-col>
        <ion-col [attr.col-3]="platform.is('core')?'':null" [attr.col-6]="!platform.is('core')?'':null" text-wrap>
          <p><b>Địa chỉ:</b> {{item.address}}</p>
        </ion-col>
        <ion-col [attr.col-3]="platform.is('core')?'':null" [attr.col-6]="!platform.is('core')?'':null" text-wrap>
          <p><b>Email:</b> {{item.email}}</p>
        </ion-col>
        <ion-col [attr.col-3]="platform.is('core')?'':null" [attr.col-6]="!platform.is('core')?'':null" text-wrap>
          <p><b>Chức vụ:</b> {{item.regencyName}}</p>
        </ion-col>
        <ion-col [attr.col-3]="platform.is('core')?'':null" [attr.col-6]="!platform.is('core')?'':null" text-wrap>
          <p><b>CMND:</b> {{item.cmnd}}</p>
        </ion-col>
        <ion-col [attr.col-3]="platform.is('core')?'':null" [attr.col-6]="!platform.is('core')?'':null" text-wrap>
          <p><b>Ngày vào làm:</b> {{item.dateJoinDisplay}}</p>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)" *ngIf="page_Idx!==page_Total">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải dữ liệu...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab bottom right showWhen="android,windows,ios">
    <button ion-fab>
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
    <ion-fab-list side="top" style="right:0px">
      <button data-balloon-visible data-balloon-length="medium" data-balloon="Quét mã QR" data-balloon-pos="left"
        ion-fab color="main">
        <ion-icon name="app-qr-scanner"></ion-icon>
      </button>
      <button data-balloon-visible data-balloon-length="medium" data-balloon="Cập nhật dữ liệu" data-balloon-pos="left"
        ion-fab color="main">
        <ion-icon name="sync"></ion-icon>
      </button>
      <button *ngIf="userProvider.rolePermission.ROLE_them_nhan_vien!=null" data-balloon-visible data-balloon-length="medium" data-balloon="Thêm mới nhân viên" data-balloon-pos="left"
        ion-fab color="main" (tap)="addNewEmployee()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


<ion-menu [content]="mycontent" side="right" #menuFilter sticky="true" type="overlay" width="500">
    <ion-header>
      <ion-toolbar>
        <ion-buttons start>
          <button ion-button font20 (tap)="closeFilter()">
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>Lọc theo tùy chọn</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label stacked>Trang trại</ion-label>
          <ion-select interface="popover" title="Trang trại" mode="ios" okText="Chọn" cancelText="Hủy"
            [selectOptions]="customAlertOptions" (ionChange)="filterFarm($event)" placeholder="Tất cả">
            <ion-option [value]="''">Tất cả</ion-option>
            <ion-option *ngFor="let item of farmFilter" [value]="item.value">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
  
        <ion-item>
          <ion-label stacked>Chức vụ</ion-label>
          <ion-select interface="popover" title="Chức vụ" mode="ios" okText="Chọn" cancelText="Hủy"
            [selectOptions]="customAlertOptions" (ionChange)="filterRegency($event)" placeholder="Tất cả">
            <ion-option [value]="''">Tất cả</ion-option>
            <ion-option *ngFor="let item of regencyFilter" [value]="item.value">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
    
        <!-- <ion-item>
          <ion-label stacked>Chuồng</ion-label>
          <ion-select [(ngModel)]="houseFilter" multiple="true" interface="alert" title="Giới tính" mode="ios"
            okText="Duyệt" cancelText="Hủy" [selectOptions]="customAlertOptions" placeholder="Tất cả"
            (ionChange)="setFilteredItems()">
            <ion-option *ngFor="let house of houses" [value]="house.id">{{house.name}}</ion-option>
          </ion-select>
        </ion-item> -->
        <!-- <ion-item>
          <ion-label stacked>
            Khối lượng gốc
            <ion-badge color="danger">{{dualValue2.lower}}</ion-badge>
            <ion-badge color="danger">{{dualValue2.upper}}</ion-badge>
          </ion-label>
          <ion-range mode="ios" pin="true" dualKnobs="true" [(ngModel)]="dualValue2" min="0" max="500" snaps="true"
            debounce="500" (ionChange)="setFilteredItems()">
          </ion-range>
        </ion-item> -->
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav #mycontent></ion-nav>