<ion-header>
  <ion-toolbar>
    <ion-buttons left showWhen="ios,android">
      <button navPop ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar col-md-7 mode="ios" animated="true" debounce="500" [placeholder]="placeholderSearch"
      [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="setFilteredItems()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #contentExternalInvoice class="setting-util-component">
  <div id="content">
    <ion-item-divider custom-diviver sticky="true" showWhen="core">Danh sách ghi nhận lên giống heo</ion-item-divider>
    <ion-list>
      <span *ngFor="let item of visible_items;let idx= index">
        <ion-item-sliding>
          <ion-item>
            <h2 *ngIf="mainAttribute"><b>{{item[mainAttribute]}}</b></h2>
            <ion-row>
              <ion-col *ngFor="let attr of attributes" col-xl-3 col-lg-3 col-md-4 col-sm-6 text-wrap>
                <p style="padding:5px!important"><b>{{attr.label}}:</b> {{item[attr.name]}} </p>
              </ion-col>
            </ion-row>
            <ion-row>
              <button showWhen="core" small ion-button item-end mode='ios' color="main"
                (tap)="edit(item)">Sửa</button>
              <button showWhen="core" small ion-button item-end mode='ios' color="danger"
                (tap)="remove(item)">Xóa</button>
            </ion-row>
          </ion-item>
        </ion-item-sliding>
      </span>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadData($event)" *ngIf="page_Idx!==page_Total">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải dữ liệu...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <!-- <ion-fab bottom right showWhen="android,windows,ios" color="secondary">
    <button ion-fab (tap)="add()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->
</ion-content>