<div *ngIf="splash" class="splash">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>

<ion-header no-border>
</ion-header>

<ion-content no-bounce padding #content (ngSubmit)="onSubmit()" showWhen="ios,android">
  <ion-row margin justify-content-center align-items-center>
    <ion-col align-self-start>
    </ion-col>
    <ion-col text-center col-7 col-sm-4 align-self-center>
      <img src="../../assets/icon/icon.png" alt="">
    </ion-col>
    <ion-col align-self-end>
    </ion-col>
  </ion-row>
  <ion-row no-padding justify-content-center align-items-center>
    <ion-col col-12 col-sm-10>
      <form action="">
        <ion-list pd-5>
          <ion-item pl-0>
            <ion-label class="pt-5" no-margin pl-16 floating>Tên đăng nhập</ion-label>
            <ion-input pl-16 type="" [formControl]="credentialsForm.controls.username"></ion-input>
          </ion-item>
          <expandable *ngIf="active" [expanded]="!credentialsForm.controls.username.valid">
            <span *ngIf="credentialsForm.controls.username.errors">
              <p no-margin mt-5 err *ngIf="credentialsForm.controls.username.errors.required">
                <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> Tên đăng nhập là hạng
                mục bắt buộc.
              </p>
              <p no-margin mt-5 err *ngIf="credentialsForm.controls.username.errors.maxlength">
                <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> Tên đăng nhập không
                được vượt quá 100 ký tự.
              </p>
            </span>
          </expandable>

          <ion-item mt-5 pl-0>
            <ion-label class="pt-5" no-margin pl-16 floating>Mật khẩu</ion-label>
            <ion-input pl-16 type="password" [formControl]="credentialsForm.controls.password"></ion-input>
          </ion-item>
          <expandable *ngIf="active" [expanded]="!credentialsForm.controls.password.valid">
            <span *ngIf="credentialsForm.controls.username.errors">
              <p no-margin mt-5 err *ngIf="credentialsForm.controls.password.errors.required">
                <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> Mật khẩu là hạng mục
                bắt buộc.
              </p>
              <p no-margin mt-5 err *ngIf="credentialsForm.controls.password.errors.maxlength">
                <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> Mật khẩu không được
                vượt quá 100 ký tự.
              </p>
            </span>
          </expandable>
        </ion-list>
      </form>
    </ion-col>
  </ion-row>
  <ion-row no-padding justify-content-center align-items-center>
    <ion-col col-12 col-sm-10 text-center>
      <button [disabled]="active && credentialsForm.invalid" mode='ios' (click)="active=true;login();" ion-button block
        style="background: rgba(50, 211, 152,0.8)!important;" padding>Đăng nhập</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      <button ion-button clear color="light" font10>
        Quên mật khẩu?
      </button>
    </ion-col>
  </ion-row>
</ion-content>


<ion-content class="browser" no-bounce (ngSubmit)="onSubmit()" showWhen="core">
  <ion-row justify-content-center align-items-center>
    <ion-col align-self-left></ion-col>
    <ion-col text-center col-md-2 col-sm-4 align-self-center>
      <img src="../../assets/icon/icon.png" alt="">
    </ion-col>
    <ion-col align-self-right></ion-col>
  </ion-row>
  <ion-row justify-content-center align-items-center>
    <ion-col col-xl-4 col-lg-5 col-md-5 col-sm-8 lign-self-center>
      <form action="" [formGroup]="credentialsForm">
        <ion-list pd-5>
          <ion-item pl-0>
            <ion-label class="pt-5" pl-16 no-margin floating>Username</ion-label>
            <ion-input pl-16 font28 [formControl]="credentialsForm.controls['username']"></ion-input>
          </ion-item>
          <expandable *ngIf="active" [expanded]="!this.credentialsForm.controls.username.valid">
            <span *ngIf="credentialsForm.controls.username.errors">
              <p no-margin mt-5 err *ngIf="this.credentialsForm.controls.username.errors.required">
                <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> Tên đăng nhập là hạng
                mục bắt buộc.
              </p>
              <p no-margin mt-5 err *ngIf="this.credentialsForm.controls.username.errors.maxlength">
                <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> Tên đăng nhập không
                được vượt quá 100 ký tự.
              </p>
            </span>
          </expandable>

          <ion-item mt-15 pl-0>
            <ion-label class="pt-5" pl-16 no-margin floating>Password</ion-label>
            <ion-input pl-16 type="password" font28 [formControl]="credentialsForm.controls['password']"></ion-input>
          </ion-item>
          <expandable *ngIf="active" [expanded]="!credentialsForm.controls.password.valid">
            <span *ngIf="credentialsForm.controls.password.errors">
              <p no-margin mt-5 err *ngIf="credentialsForm.controls.password.errors.required">
                <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> Mật khẩu là hạng mục
                bắt buộc.
              </p>
              <p no-margin mt-5 err *ngIf="credentialsForm.controls.password.errors.maxlength">
                <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> Mật khẩu không được
                vượt quá 100 ký tự.
              </p>
            </span>
          </expandable>
        </ion-list>

        <ion-row class="sign-in-button-container">
          <ion-col text-center>
            <button [disabled]="active && credentialsForm.invalid" mode="ios" (click)="active=true;login();" ion-button block [disabled]="wait"
              style="background: rgba(50, 211, 152,0.8)!important;" padding>
              Sign in
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="wait">
          <ion-col text-center>
            <ion-spinner color="secondary"></ion-spinner>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center>
            <button ion-button clear color="light" font10>
              Forgot your password?
            </button>
          </ion-col>
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-content>