<ion-header>
  <header [title]="'Kho'">
    <ion-toolbar showWhen="core" toolbar-transparent>
      <ion-row>
        <ion-col showWhen="core">
          <input-select 
            class="input-select" 
            [value]="farms_select[0].value" 
            [placeholder]="'Chọn trang trại'"
            [(data)]="farms_select"
            (changeValue)="changeFarm($event)">
          </input-select>
        </ion-col>
        <ion-col text-right>
          <button ion-button mode='ios' color="secondary" (tap)="add()">Thêm kho</button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
    <ion-segment [(ngModel)]="type" scrollable showWhen='ios,android' class="main-bg">
      <ion-segment-button value="0" (tap)="selectedTab(0)">Kho cám</ion-segment-button>
      <ion-segment-button value="1" (tap)="selectedTab(1)">Kho thuốc</ion-segment-button>
    </ion-segment>
  </header>

</ion-header>

<ion-content no-padding showWhen="core">
  <ion-row style="height: 100%">
    <ion-col col-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 style="height: 100%">
      <page-warehouse-list 
        [title]="'Danh sách kho cám'" 
        [(data)]="food_warehouses" 
        [setData] = "food_warehouses"
        [warehouseType]="'food'" 
        [viewMode]="true">
      </page-warehouse-list>
    </ion-col>
    <ion-col col-6 col-lg-6 col-md-6 col-sm-12 col-xs-12>
      <page-warehouse-list 
        [title]="'Danh sách kho thuốc'" 
        [setData] = "medicine_warehouses"
        [(data)]="medicine_warehouses" 
        [warehouseType]="'medicine'" 
        [viewMode]="true">
      </page-warehouse-list>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content no-padding showWhen="ios,android" #content>
  <ion-slides #slider (ionSlideDidChange)="slideChange()">
    <ion-slide>
      <ion-scroll scrollY="true" class="modal-scroll" style="height: 100%">
        <ion-list>
          <button ion-item *ngFor="let warehouse of food_warehouses" (tap)="viewDeltailFoodWarehouse(warehouse)">
            <ion-avatar item-start>
              <ion-icon name="app-warehouse" font28></ion-icon>
            </ion-avatar>
            <h2>{{warehouse.name}}</h2>
            <ion-row>
              <ion-col col-12>
                <p>Người quản lý: {{warehouse.manager.name}}</p>
              </ion-col>
              <ion-col col-12>
                <p>Chi tiết: {{warehouse.description}}</p>
              </ion-col>
            </ion-row>
          </button>
        </ion-list>
      </ion-scroll>
    </ion-slide>
    <ion-slide>
      <ion-scroll scrollY="true" class="modal-scroll" style="height: 100%">
        <ion-list>
          <button ion-item *ngFor="let warehouse of medicine_warehouses" (tap)="viewDeltailMedicineWarehouse(warehouse)">
            <ion-avatar item-start>
              <ion-icon name="app-warehouse" font28></ion-icon>
            </ion-avatar>
            <h2>{{warehouse.name}}</h2>
            <ion-row>
              <ion-col col-12>
                <p>Người quản lý: {{warehouse.manager.name}}</p>
              </ion-col>
              <ion-col col-12>
                <p>Chi tiết: {{warehouse.description}}</p>
              </ion-col>
            </ion-row>
          </button>
        </ion-list>
      </ion-scroll>
    </ion-slide>
  </ion-slides>

  <ion-fab bottom right showWhen="android,windows,ios">
    <button ion-fab>
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
    <ion-fab-list side="top" style="right:0px">
      <button data-balloon-visible data-balloon-length="medium" data-balloon="Cập nhật dữ liệu" data-balloon-pos="left"
        ion-fab color="main">
        <ion-icon name="sync"></ion-icon>
      </button>
      <button data-balloon-visible data-balloon-length="medium" data-balloon="Thêm kho" data-balloon-pos="left"
        ion-fab color="main" (tap)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>