<ion-header>
  <ion-toolbar>
    <ion-searchbar col-md-7 mode="ios" animated="true" debounce="500" placeholder="Tìm kiếm nhân viên"
      [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="setFilteredItems()">
    </ion-searchbar>
    <ion-buttons right>
      <button ion-button font20 (tap)="showFilter=!showFilter">
        <ion-icon name="funnel"></ion-icon>
      </button>
      <button ion-button font20 (tap)="closeMenu()">
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #content>
  <ion-list>
    <button ion-item *ngFor="let item of visible_items" (tap)="viewDeltail(item)">
      <ion-avatar item-start>
        <img src="../../assets/imgs/default-user.png">
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <ion-row>
        <ion-col>
          <p><b>Birthday:</b> {{item.birthday}}</p>
        </ion-col>
        <ion-col>
          <p><b>Gender:</b> {{item.gender}}</p>
        </ion-col>
        <ion-col>
          <p><b>Address:</b> {{item.address}}</p>
        </ion-col>
        <ion-col>
          <p><b>Email:</b> {{item.email}}</p>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)" *ngIf="page_Idx!==page_Total">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải dữ liệu...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>