<ion-header>
  <ion-navbar>
    <ion-toolbar toolbar-transparent>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <div>
        <ion-row>
          <ion-searchbar col-md-7 mode="ios" animated="true" debounce="500" placeholder="Tìm kiếm heo"
            [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="setFilteredItems()">
          </ion-searchbar>
        </ion-row>
      </div>
      <ion-buttons right>
        <button ion-button font20 (tap)="openFilter()">
          <ion-icon name="funnel"></ion-icon>
        </button>
        <button item-end ion-button font20 showWhen='core'>
          <ion-icon name="sync"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>


<ion-content #content>
  <ion-item-divider custom-diviver sticky="true" showWhen="core">
    <ion-row>
      <ion-title ion-text font15 color="dark">Danh sách heo</ion-title>
      <button ion-button item-end mode='ios' color="secondary" (tap)="addNewPig()">Thêm mới heo</button>
    </ion-row>
  </ion-item-divider>
  <ion-item-divider sticky="true" showWhen="ios,android">Danh sách heo</ion-item-divider>
  <ion-list>
    <button ion-item *ngFor="let item of visible_items" (tap)="viewDeltail(item)">
      <ion-avatar item-start>
        <ion-icon name="app-pig-outline" font28></ion-icon>
      </ion-avatar>
      <h2><b>{{item.pigCode}}</b></h2>
      <ion-row>
        <ion-col col-lg-2 [attr.col-12]="!platform.is('core')?'':null">
          <p><b>Ngày sinh:</b> {{item.birthday|date:'yyyy-MM-dd'}}</p>
        </ion-col>
        <ion-col col-2  [attr.col-6]="!platform.is('core')?'':null">
          <p ><b>Trang trại:</b> {{house[item.houseId].section.farm.name}}</p>
        </ion-col>
        <ion-col col-2  [attr.col-6]="!platform.is('core')?'':null">
          <p ><b>Khu:</b> {{house[item.houseId].section.name}}</p>
        </ion-col>
        <ion-col col-2  [attr.col-6]="!platform.is('core')?'':null">
          <p ><b>Nhà:</b> {{house[item.houseId].name}}</p>
        </ion-col>
        <ion-col col-lg-2 [attr.col-6]="!platform.is('core')?'':null" >
          <p><b>Giống</b>: {{breeds[item.breedId].name}}</p>
        </ion-col>
        <ion-col col-2  [attr.col-6]="!platform.is('core')?'':null">
          <p ><b>Trạng thái:</b> {{status[item.statusId].name}}</p>
        </ion-col>
        <ion-col  [attr.col-6]="!platform.is('core')?'':null">
          <p><b>Cân nặng:</b>
            <ion-badge style="padding: 5px" color="secondary">{{item.originWeight}} kg</ion-badge>
          </p>
        </ion-col>
        
        <!-- <ion-col>
          <p>Gender: {{item.gender}}</p>
        </ion-col> -->
        <ion-col col-lg-2 [attr.col-4]="!platform.is('core')?'':null">
          <p><b>bf:</b>
            <ion-badge style="padding: 5px" color="secondary">{{item.bf}}</ion-badge>
          </p>
        </ion-col>
        <ion-col col-lg-2 [attr.col-4]="!platform.is('core')?'':null">
          <p><b>fcr:</b>
            <ion-badge style="padding: 5px" color="secondary">{{item.fcr}}</ion-badge>
          </p>
        </ion-col>
        <ion-col col-lg-2 [attr.col-4]="!platform.is('core')?'':null">
          <p><b>adg:</b>
            <ion-badge style="padding: 5px" color="secondary">{{item.adg}}</ion-badge>
          </p>
        </ion-col>
        <ion-col col-lg-2 [attr.col-6]="!platform.is('core')?'':null">
          <p><b>Chỉ số sức khỏe:</b>
            <ion-badge style="padding: 5px" color="secondary">{{item.healthPoint}}</ion-badge>
          </p>
        </ion-col>
        <ion-col text-wrap *ngIf="health_status[item.healthStatusId]" col-lg-2 [attr.col-12]="!platform.is('core')?'':null">
          <p><b>Trạng thái sức khỏe:</b>
            <ion-badge style="padding: 5px" color="main">{{health_status[item.healthStatusId].name}}</ion-badge>
          </p>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="page_Idx!==page_Total">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải dữ liệu...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab bottom right showWhen="android,windows,ios">
    <button ion-fab>
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
    <ion-fab-list side="top" style="right:0px">
      <button (tap)="scan()" data-balloon-visible data-balloon-length="medium" data-balloon="Quét mã QR" data-balloon-pos="left"
        ion-fab color="main">
        <ion-icon name="app-qr-scanner"></ion-icon>
      </button>
      <button data-balloon-visible data-balloon-length="medium" data-balloon="Cập nhật dữ liệu" data-balloon-pos="left"
        ion-fab color="main">
        <ion-icon name="sync"></ion-icon>
      </button>
      <button data-balloon-visible data-balloon-length="medium" data-balloon="Thêm heo mới" data-balloon-pos="left"
        ion-fab color="main" (tap)="addNewPig()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-menu [content]="mycontent" side="right" #menuFilter sticky="true" type="overlay" width="500">
  <ion-header>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button font20 (tap)="closeFilter()">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Lọc theo tùy chọn</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label stacked>Giới tính</ion-label>
        <ion-select [(ngModel)]="genderFilter" multiple="true" interface="alert" title="Giới tính" mode="ios"
          okText="Chọn" cancelText="Hủy" [selectOptions]="customAlertOptions" (ionChange)="setFilteredItems()"
          placeholder="Tất cả">
          <ion-option value="1">Cái</ion-option>
          <ion-option value="2">Đực</ion-option>
          <ion-option value="3">Đực hiến</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Nhà</ion-label>
        <ion-select [(ngModel)]="houseFilter" multiple="true" interface="alert" title="Giới tính" mode="ios"
          okText="Duyệt" cancelText="Hủy" [selectOptions]="customAlertOptions" placeholder="Tất cả"
          (ionChange)="setFilteredItems()">
          <ion-option *ngFor="let house of houses" [value]="house.id">{{house.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          Khối lượng gốc
          <ion-badge color="danger">{{dualValue2.lower}}</ion-badge>
          <ion-badge color="danger">{{dualValue2.upper}}</ion-badge>
        </ion-label>
        <ion-range mode="ios" pin="true" dualKnobs="true" [(ngModel)]="dualValue2" min="0" max="500" snaps="true"
          debounce="500" (ionChange)="setFilteredItems()">
        </ion-range>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #mycontent></ion-nav>