page-pigs {
    $menu-width: 300px;

    [custom-diviver]{
            .label-md{
                margin:0px!important;
            }
            .toolbar-title {
                color: black!important;
            }
    }
    
}
