<ion-header>
  <ion-navbar>
    <ion-buttons left showWhen="ios,android">
      <button navPop ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Thông tin công việc</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label text-wrap stacked>Tên công việc</ion-label>
      <ion-textarea rows="3" cols="20" type="text" readonly [(ngModel)]="schedule.name"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Ngày thực hiện</ion-label>
      <ion-input type="text" readonly [(ngModel)]="schedule.dateDisplay"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Người thực hiện</ion-label>
      <ion-input *ngIf="schedule.employee" type="text" readonly [(ngModel)]="schedule.employee.name"></ion-input>
      <ion-input *ngIf="!schedule.employee" type="text" readonly value="Chưa phân công"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Trạng thái</ion-label>
      <ion-input type="text" readonly [(ngModel)]="schedule.status"></ion-input>
    </ion-item>
  </ion-list>

  <ion-fab bottom right showWhen="android,windows,ios">
    <button ion-fab>
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
    <ion-fab-list side="top" style="right:0px">

      <button
        (tap)="delete()" 
        data-balloon-visible 
        data-balloon-length="medium" 
        data-balloon="Xóa công việc" 
        data-balloon-pos="left"
        ion-fab color="danger">
        <ion-icon name="md-trash"></ion-icon>
      </button>
      <button 
       (tap)="pushNotification()"
        *ngIf="schedule.employee"
        data-balloon-visible 
        data-balloon-length="medium" 
        data-balloon="Gửi thông báo" 
        data-balloon-pos="left"
        ion-fab color="main">
        <ion-icon name="ios-notifications"></ion-icon>
      </button>
      <button 
       (tap)="edit()"
        *ngIf="schedule.employee"
        data-balloon-visible 
        data-balloon-length="medium" 
        data-balloon="Chỉnh sửa" 
        data-balloon-pos="left"
        ion-fab color="main">
        <ion-icon name="md-create"></ion-icon>
      </button>
      <button 
        (tap)="input()"
        *ngIf="!schedule.employee"
        data-balloon-visible 
        data-balloon-length="medium" 
        data-balloon="Phân công" 
        data-balloon-pos="left"
        ion-fab color="main">
        <ion-icon name="ios-man"></ion-icon>
      </button>
      
    </ion-fab-list>
  </ion-fab>

</ion-content>
<ion-footer no-border showWhen="core">
  <ion-toolbar toolbar-transparent text-right showWhen="core">
    <button *ngIf="schedule.employee" ion-button mode='ios' color="secondary" (tap)="pushNotification()">Gửi thông báo</button>
    <button *ngIf="schedule.employee" ion-button mode='ios' color="secondary" (tap)="edit()">Chỉnh sửa</button>
    <button *ngIf="!schedule.employee" ion-button mode='ios' color="secondary" (tap)="input()">Phân công</button>
    <button  ion-button mode='ios' color="danger" (tap)="delete()">Xóa công việc</button>
  </ion-toolbar>
</ion-footer>