<ion-header>
  <ion-navbar>
    <ion-buttons left showWhen="ios,android">
      <button navPop ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Thông tin công việc</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label text-wrap stacked>Tên công việc</ion-label>
      <ion-textarea rows="3" cols="20" type="text" readonly [(ngModel)]="schedule.name"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked>Ngày thực hiện</ion-label>
      <ion-input type="text" readonly [(ngModel)]="schedule.dateDisplay"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Người thực hiện</ion-label>
      <ion-input *ngIf="schedule.employee" type="text" readonly [(ngModel)]="schedule.employee.name"></ion-input>
      <ion-input *ngIf="!schedule.employee" type="text" readonly value="Chưa phân công"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Trạng thái</ion-label>
      <ion-input type="text" readonly [(ngModel)]="schedule.status"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-border showWhen="core">
  <ion-toolbar toolbar-transparent text-right showWhen="core">
    <button *ngIf="schedule.employee" ion-button mode='ios' color="secondary" (tap)="pushNotification()">Gửi thông báo</button>
    <button *ngIf="schedule.employee" ion-button mode='ios' color="secondary" (tap)="edit()">Chỉnh sửa</button>
    <button *ngIf="!schedule.employee" ion-button mode='ios' color="secondary" (tap)="input()">Phân công</button>
    <button  ion-button mode='ios' color="danger" (tap)="delete()">Xóa công việc</button>
  </ion-toolbar>
</ion-footer>