page-sections {
            
    ion-item{
        [active]{
            background: rgba(235,235,235,0.7);
        }

        [active_header]{
            background:#01C2FA!important;
        }
    }

    [custom-list-header]{
        .label-md{
            margin:0px!important;
        }
        .toolbar-title {
            color: black!important;
        }
    }

    .input-select{
        ion-select{
            font-size: 20px!important;
            color:white!important;
        }
    }

    [scroll]{
        height: 100%;
        overflow-y: scroll;
    }
}
