<ion-header>
  <header [title]="'Quản lý khu'">
    <ion-toolbar toolbar-transparent>
      <ion-row>
        <ion-col>
          <input-select class="input-select" [value]="farmSelected" [placeholder]="'Chọn trang trại'" [(data)]="farms"
            (changeValue)="changeFarm($event)">
          </input-select>
        </ion-col>
        <ion-col text-right showWhen="core" *ngIf="userProvider.rolePermission.ROLE_them_khu!=null">
          <button ion-button mode='ios' color="secondary" (tap)="addNewSection()">Thêm khu</button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </header>
</ion-header>

<ion-content no-padding>
  <ion-item-group [attr.scroll]="platform.is('core')?'':null">
    <ion-item-divider sticky="true">Danh sách khu</ion-item-divider>
    <ion-list no-lines>
      <ion-item-sliding *ngFor="let section of sections" (click)="activeItem(section)">
        <ion-item [attr.active]="section.active?'':null">
          <ion-icon fixed item-start name="app-section-single" color="danger"></ion-icon>
          <ion-row>
            <h2>{{section.name}}</h2>
          </ion-row>
          <expandable [expanded]="section.expand">
            <div>
              <p>{{section.description}}</p>
            </div>
            <ion-list no-lines *ngIf="userProvider.rolePermission.ROLE_xem_thong_tin_khu!=null">
              <button item-end ion-item (tap)="viewDetail(section)">
                <ion-avatar item-start>
                  <ion-icon name="ios-information-circle" style="vertical-align: bottom" font28></ion-icon>
                </ion-avatar>
                <ion-row>
                  <h2>
                    Xem thông tin khu
                  </h2>
                </ion-row>
              </button>
              <ion-list-header custom-list-header [attr.active_header]="section.active?'':null">
                <div showWhen='ios,android'>Danh sách chuồng</div>
                <ion-row showWhen="core">
                  <ion-title ion-text font15 color="dark">Danh sách chuồng</ion-title>
                  <button *ngIf="userProvider.rolePermission.ROLE_them_chuong!=null" ion-button item-end mode='ios' color="secondary" (tap)="addNewHouse(section)">Thêm chuồng</button>
                </ion-row>
              </ion-list-header>
              <span *ngIf="userProvider.rolePermission.ROLE_xem_danh_sach_chuong!=null">
                <button item-end ion-item *ngFor="let house of section.houses" (tap)="viewHouse(house)">
                  <!-- <ion-avatar item-start>
                    <ion-icon name="ios-home" style="vertical-align: bottom" font28></ion-icon>
                  </ion-avatar> -->
                  <h2><b>{{house.name}}</b></h2>
                  <ion-row>
                    <ion-col>
                      <p><b>Mã số chuồng:</b> {{house.houseCode}}</p>
                    </ion-col>
                    <ion-col>
                      <p><b>Số heo tại chuồng:</b> {{house.totalPig}} con</p>
                    </ion-col>
                    <ion-col>
                      <p><b>Ngày thành lập:</b> {{house.foundingDisplay}}</p>
                    </ion-col>
                  </ion-row>
                </button>
              </span>

              <ion-toolbar showWhen="ios,android" toolbar-transparent>
                <ion-buttons item-start *ngIf="userProvider.rolePermission.ROLE_them_chuong!=null">
                  <button ion-button mode='ios' block color="secondary" (tap)="addNewHouse(section)">
                    <ion-icon name='md-add-circle' padding></ion-icon>
                    Thêm chuồng
                  </button>
                </ion-buttons>
              </ion-toolbar>
            </ion-list>
          </expandable>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-item-group>

  <ion-fab bottom right showWhen="android,windows,ios">
    <button ion-fab>
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
    <ion-fab-list side="top" style="right:0px">
      <span *ngIf="userProvider.rolePermission.ROLE_them_khu!=null">
        <button (tap)="addNewSection()" data-balloon-visible data-balloon-length="medium" data-balloon="Thêm khu" data-balloon-pos="left"
          ion-fab color="main">
          <ion-icon name="add"></ion-icon>
        </button>
      </span>
    </ion-fab-list>
  </ion-fab>
</ion-content>