<ion-header>
  <header [title]="'Quản lý khu'" >
    <ion-toolbar  toolbar-transparent>
      <ion-row>
        <ion-col>
          <input-select 
            class="input-select" 
            [value]="farms[0].value" 
            [placeholder]="'Chọn trang trại'"
            [(data)]="farms" 
            (changeValue)="changeFarm($event)">
          </input-select>
        </ion-col>
        <ion-col text-right showWhen="core">
          <button ion-button mode='ios' color="secondary" >Thêm khu</button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </header>
</ion-header>

<ion-content no-padding>
  <ion-item-group [attr.scroll]="platform.is('core')?'':null">
    <ion-item-divider sticky="true">Danh sách khu</ion-item-divider>
    <ion-list no-lines>
      <ion-item-sliding *ngFor="let section of sections" (click)="activeItem(section)">
        <ion-item [attr.active]="section.active?'':null">
          <ion-icon fixed item-start name="app-section-single" color="danger"></ion-icon>
          <ion-row>
            <h2>{{section.name}}</h2>
          </ion-row>
          <expandable [expanded]="section.expand">
            <div>
              <p>{{section.description}}</p>
            </div>
            <ion-list no-lines>
              <button item-end ion-item (tap)="viewDetail(section)">
                <ion-avatar item-start>
                    <ion-icon name="ios-information-circle" style="vertical-align: bottom" font28></ion-icon>
                </ion-avatar>
                <ion-row>
                    <h2>
                      Xem thông tin khu
                    </h2>
                </ion-row>
              </button>
              <ion-list-header custom-list-header [attr.active_header]="section.active?'':null">
                <div showWhen='ios,android'>Danh sách chuồng</div>
                <ion-row showWhen="core">
                  <ion-title ion-text font15 color="dark">Danh sách chuồng</ion-title>
                  <button ion-button item-end mode='ios' color="secondary" (tap)="addNewHouse(section)">Thêm chuồng</button>
                </ion-row>
              </ion-list-header>
              <button item-end ion-item *ngFor="let house of section.houses" (tap)="viewHouse(house)">
                <ion-avatar item-start>
                  <ion-icon name="ios-home" style="vertical-align: bottom" font28></ion-icon>
                </ion-avatar>
                <h2>{{house.name}}</h2>
                <ion-row>
                  <ion-col>
                    <p><b>Số chuồng:</b> {{house.houseCode}}</p>
                  </ion-col>
                  <ion-col>
                    <p><b>Mô tả:</b> {{house.description}}</p>
                  </ion-col>
                  <ion-col>
                    <p><b>Ngày thành lập:</b> {{house.founding}}</p>
                  </ion-col>
                </ion-row>
              </button>
              <ion-toolbar showWhen="ios,android" toolbar-transparent>
                <ion-buttons item-start>
                  <button ion-button mode='ios' block color="secondary" (tap)="addNewHouse(section)">
                    <ion-icon name='md-add-circle' padding></ion-icon>
                    Thêm chuồng
                  </button>
                </ion-buttons>
              </ion-toolbar>
            </ion-list>
          </expandable>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
  </ion-item-group>
</ion-content>