<ion-header>
  <header [title]="'Quản lý khu'">
    <ion-row>
      <ion-col col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4 showWhen="core">
        <button ion-item style="background: transparent!important">Vĩnh Tân 1
          <ion-icon name="ios-arrow-down" style="vertical-align: bottom"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-5 showWhen="ios,android">
        <button ion-item style="background: transparent!important">Vĩnh Tân 1
          <ion-icon name="ios-arrow-down" style="vertical-align: bottom"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </header>
</ion-header>

<ion-content no-padding>
  <ion-item-group>
    <ion-item-divider sticky="true">Danh sách khu</ion-item-divider>
    <ion-list>
      <ion-item-sliding *ngFor="let section of sections" (click)="activeItem(section)">
        <ion-item [attr.active]="section.active?'':null">
          <ion-icon fixed item-start name="app-section-single" color="danger"></ion-icon>
          <ion-row>
            <h2>{{section.name}}</h2>
          </ion-row>
          <expandable [expanded]="section.expand">
            <div>
              <p>{{convertDate(section.founding)}}</p>
              <p>{{section.description}}</p>
            </div>
            <ion-list>
              <ion-list-header [attr.active_header]="section.active?'':null">Danh sách chức năng</ion-list-header>
              <button item-end ion-item *ngFor="let item of items">
                <ion-icon name="md-clipboard" style="vertical-align: bottom" font28></ion-icon>
                Chức năng {{item.idx}}
              </button>
            </ion-list>
          </expandable>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary-custome">Xem chi tiết</button>
          <button ion-button color="danger">Xóa</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-item-group>
</ion-content>