<span #input>
  <ion-item   (tap)="scrollTo()" 
              [attr.valid-mode] = "(validControl.valid && active)?'':null"
              [attr.err-mode]="(!validControl.valid && active)?'':null" >
      <ion-label stacked>{{label}}</ion-label>
      <ion-datetime [placeholder]="placeholder" 
      [attr.disabled]="disabled?'':null"
      (ionChange)="datetimeChange($event)" 
      [formControl]="validControl" 
      [displayFormat]="displayFormat"
      [pickerFormat]="pickerFormat"
      [max]='limit'>
    </ion-datetime>
  </ion-item>
  <expandable [expanded]="!validControl.valid" *ngIf="active">
      <span *ngIf="validControl.errors">
        <p no-margin mt-5 err *ngIf="validControl.errors.required">
          <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> {{errorMessage_Required}}
        </p>
        <p no-margin mt-5 err *ngIf="validControl.errors.maxlength">
          <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> {{errorMessage_Maxlength}}
        </p>
      </span>
  </expandable>
</span>