page-employee-information {
    .mobile{
        // [height-12vh]{
        //     height: 12vH;;
        // }
    
        // ion-item-divider{
        //     color:white!important;
        //     text-align: left!important;
        //     background:linear-gradient(to right,$themeColor2,$light-tint)!important;
        // }
    
        // .app-calendar {
        //     margin: 0 auto;
        //     max-width: 900px;
        // }
    
        // ion-label{
        //     font-size:15px!important;
        //     color:black!important;
        //     font-weight: bold;    
        // }
        
        // ion-toolbar  {
    
        //     .toolbar-background{
        //         background: transparent!important;
        //     }
        // }
    
        // .custom-toolbar{
        //     position: absolute;
        // }
    
        // .card-header{
        //     background:linear-gradient(to right,$themeColor2,$light-tint)
        // }
    
        // .bg-white{
        //     background: white;
        // }
    
        // // .card-content-custom{
        // //     max-height: 70.5vH;
        // //     min-height: 70vH;
        // //     overflow: auto;
        // // }
    
        // .card{
        //     background: $light-tint;
        // }
    }
    

    ion-slides{
        .swiper-container-autoheight{
            height: 100%!important;
        }
        .swiper-slide{
            height: 100%!important;
        }
        ion-slide{
            .slide-zoom{
                height: 100%!important;
            }
            
        }
    }
    
      
    .card-header{
        background:linear-gradient(to right,$themeColor2,$light-tint)
    }

    ion-scroll{
        .scroll-content{
            top:12px;
        }
    }
    
    .ion-card-content-list-setting{
        max-height: 84vH!important;
        height: 84vH;
        overflow: auto;

        [active]{
            color:#005bea!important;
            background:linear-gradient(to right,$themeColor1)!important;
        }
    }

    .content-item-setting{
        max-height: 50vH!important;
        height: 50vH;
        overflow: auto;

        .label-md{
            margin: 0px!important;
        }
    }

    ion-col{
        padding:0px!important;
    }

    ion-card{
        margin:0px!important;
        width: calc(100% - 0px)!important;
    }

    ion-item-divider{
        .label{
            margin:0px!important;
        }
    }
    
}
