page-employee-information {
 

    ion-slides{
        .swiper-container-autoheight{
            height: 100%!important;
        }
        .swiper-slide{
            height: 100%!important;
        }
        ion-slide{
            .slide-zoom{
                height: 100%!important;
            }
            
        }
    }
    

    // ion-scroll{
    //     .scroll-content{
    //         top:12px;
    //     }
    // }


    ion-col{
        padding:0px!important;
    }

    ion-item-divider{
        .label{
            margin:0px!important;
        }
    }
    
}
