page-user-info {
  .web{
    ion-slides {
      .swiper-container-autoheight {
        height: 100% !important;
      }
      .swiper-slide {
        height: 100% !important;
      }
      ion-slide {
        .slide-zoom {
          height: 100% !important;
        }
      }
    }
  }
  

  ion-content {
    .scroll-content {
      // overflow: hidden!important;
      -ms-overflow-style: none; // IE 10+
      overflow: -moz-scrollbars-none; // Firefox
    }

    .scroll-content::-webkit-scrollbar {
      display: none; // Safari and Chrome
    }
  }

  .fc-event-time,
  .fc-event-title {
    padding: 0 1px;
    white-space: nowrap;
  }

  .fc-toolbar.fc-header-toolbar{
    font-size: 15px!important;
  }

  .swiper-container{
    height:100%!important;
  }
}
