page-section-infomation {
    .mobile{
        ion-item-divider{
            color:white!important;
            text-align: left!important;
            background:linear-gradient(to right,$themeColor2,$light-tint)!important;
        }
    }


    ion-label{
        font-size:15px!important;
        color:black!important;
        font-weight: bold;    
    }

    ion-item{
        .item-inner{
            border-bottom-color: transparent!important;
        }
    }

    // .swiper-container { 
    //     height: initial;
    // }

    // .swiper-slide:not(.swiper-slide-active) > div {
    //     display:none;
    // }

    .card-header{
        background:linear-gradient(to right,$themeColor2,$light-tint)
    }

    .card-content{
        background: white;
    }

    .card{
        background: $light-tint;
    }

    ion-col{
        padding:0px!important;
    }

}
