<ion-header>
  <ion-navbar no-padding>
    <ion-toolbar no-border>
      <ion-title>{{section.name}}</ion-title>
    </ion-toolbar>
  </ion-navbar>
  <ion-toolbar showWhen="core">
    <ion-segment mode='md'>
      <ion-segment-button font15>
        <ion-icon vertical-alight-bottom name="ios-information-circle"></ion-icon>
        Thông tin chung
      </ion-segment-button>
      <ion-segment-button font15>
        <ion-icon vertical-alight-bottom name="md-calendar"></ion-icon>
        Lịch
      </ion-segment-button>
      <ion-segment-button font15>
        <ion-icon vertical-alight-bottom name="md-clipboard"></ion-icon>
        Hoạt động
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-padding *ngIf="platform.is('core')">

  <ion-list no-padding>
    <ion-row>
      <ion-col [attr.col-12]="platform.is('core')?null:''">
        <ion-card mode='ios' style="background: white" style="margin-right:0px">
          <ion-card-header mode='ios'>
            <ion-card-title text-wrap>Thông tin chi tiết</ion-card-title>
          </ion-card-header>
          <ion-card-content mode='ios' class="card-content-custom" padding>
            <ion-list no-lines>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label stacked>Số lượng</ion-label>
                    <ion-input text-wrap type="text" readonly [(ngModel)]="section.total_pig"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label text-wrap stacked>Địa chỉ</ion-label>
                    <ion-textarea rows="1" cols="20" type="text" readonly [(ngModel)]="section.address"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Ngày thành lập</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Diện tích</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Loại trại</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.type_id"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Người quản lý</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.manager"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Chờ bán</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item>
                    <ion-label stacked>Tổng đàn</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu cách ly</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu nọc</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu phối</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu mang thai</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu đẻ</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu cai sữa</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <div id="chartSummary"></div>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>

<ion-content *ngIf="!platform.is('core')" no-bounce>
  <ion-item-divider text-wrap sticky="true">{{title[slider.realIndex]}}</ion-item-divider>
  <ion-list no-padding no-lines>
    <ion-slides paper="true" #slider>
      <ion-slide>
        <ion-infinite-scroll>
          <!-- <ion-item-divider text-wrap sticky="true">Thông tin chi tiết</ion-item-divider> -->
          <!-- <ion-list no-padding no-lines> -->
          <ion-item>
            <ion-label stacked>Số lượng</ion-label>
            <ion-input text-wrap type="text" readonly [(ngModel)]="section.total_pig"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label text-wrap stacked>Địa chỉ</ion-label>
            <ion-textarea rows="1" cols="20" type="text" readonly [(ngModel)]="section.address"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label stacked>Ngày thành lập</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Diện tích</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Loại trại</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.type_id"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Người quản lý</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.manager"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Chờ bán</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Tổng đàn</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu cách ly</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu nọc</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu phối</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu mang thai</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu đẻ</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu cai sữa</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <!-- </ion-list> -->
        </ion-infinite-scroll>
      </ion-slide>
      <ion-slide>
        <ion-infinite-scroll>
          <!-- <ion-item-divider text-wrap sticky="true">Cơ cấu đàn nái</ion-item-divider> -->
          <ion-row padding>
            <ion-col>
              <div id="chartSummary"></div>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll>
      </ion-slide>
    </ion-slides>
  </ion-list>
</ion-content>