<ion-header>
  <ion-navbar no-padding>
    <ion-toolbar no-border>
      <ion-title>{{section.name}}</ion-title>
    </ion-toolbar>
  </ion-navbar>
  <ion-toolbar *ngIf="platform.is('core')">
    <button *ngIf="userProvider.rolePermission.ROLE_cap_nhat_khu!=null" color="secondary" ion-button mode='ios'
      (tap)="edit()">
      Chỉnh sửa
    </button>
    <button *ngIf="userProvider.rolePermission.ROLE_xoa_khu!=null" color="danger" ion-button mode='ios'
      (tap)="remove()">
      Xóa
    </button>
  </ion-toolbar>
</ion-header>

<ion-content no-padding *ngIf="platform.is('core')">

  <ion-list no-padding>
    <ion-row>
      <ion-col [attr.col-12]="platform.is('core')?null:''">
        <ion-card mode='ios' style="background: white" style="margin-right:0px">
          <ion-card-header mode='ios'>
            <ion-card-title text-wrap>Thông tin chi tiết</ion-card-title>
          </ion-card-header>
          <ion-card-content mode='ios' class="card-content-custom" padding>
            <ion-list no-lines>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label stacked>Tên khu</ion-label>
                    <ion-input text-wrap type="text" readonly [(ngModel)]="section.name"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label text-wrap stacked>Địa chỉ</ion-label>
                    <ion-textarea rows="1" cols="20" type="text" readonly [(ngModel)]="section.address"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Ngày thành lập</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.foundingDisplay"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Loại khu</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.typeId"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Người quản lý</ion-label>
                    <ion-input *ngIf="section.managerEmployee" type="text" readonly [(ngModel)]="section.managerEmployee.name"></ion-input>
                    <ion-input *ngIf="!section.managerEmployee" type="text" readonly >Không xác định</ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Mô tả</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.description"></ion-input>
                  </ion-item>
                </ion-col>
                <!-- <ion-col>
                  <ion-item>
                    <ion-label stacked>Tổng đàn</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu cách ly</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu nọc</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu phối</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu mang thai</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu đẻ</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu cai sữa</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
                  </ion-item>
                </ion-col> -->
                <ion-col>
                  <div id="chartSummary"></div>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>

<ion-content *ngIf="!platform.is('core')" no-bounce>
  <ion-item-divider text-wrap sticky="true">{{title[slider.realIndex]}}</ion-item-divider>
  <ion-list no-padding no-lines>
    <ion-slides paper="true" #slider>
      <ion-slide>
        <ion-infinite-scroll>
          <ion-item>
            <ion-label stacked>Tên khu</ion-label>
            <ion-input text-wrap type="text" readonly [(ngModel)]="section.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label text-wrap stacked>Địa chỉ</ion-label>
            <ion-textarea rows="1" cols="20" type="text" readonly [(ngModel)]="section.address"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label stacked>Ngày thành lập</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.founding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Loại trại</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.typeId"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Người quản lý</ion-label>
            <ion-input *ngIf="section.managerEmployee" type="text" readonly [(ngModel)]="section.managerEmployee.name">
            </ion-input>
            <ion-input *ngIf="!section.managerEmployee" type="text" readonly>Không xác định</ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Mô tả</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.description"></ion-input>
          </ion-item>
          <!-- <ion-item>
            <ion-label stacked>Tổng đàn</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu cách ly</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu nọc</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu phối</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu mang thai</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu đẻ</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu cai sữa</ion-label>
            <ion-input type="text" readonly [(ngModel)]="section.fouding"></ion-input>
          </ion-item> -->
          <!-- </ion-list> -->
        </ion-infinite-scroll>
      </ion-slide>
      <ion-slide>
        <ion-infinite-scroll>
          <!-- <ion-item-divider text-wrap sticky="true">Cơ cấu đàn nái</ion-item-divider> -->
          <ion-row padding>
            <ion-col>
              <div id="chartSummary"></div>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll>
      </ion-slide>
    </ion-slides>
  </ion-list>

  <ion-fab bottom right
    *ngIf="userProvider.rolePermission.ROLE_cap_nhat_khu!=null || userProvider.rolePermission.ROLE_xoa_khu!=null">
    <button ion-fab>
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
    <ion-fab-list side="top" style="right:0px">
      <button  data-balloon-visible
        data-balloon-length="medium" data-balloon="Chỉnh sửa thông tin" data-balloon-pos="left" ion-fab color="main"
        (tap)="edit()">
        <ion-icon name="md-create"></ion-icon>
      </button>
      <button *ngIf="userProvider.rolePermission.ROLE_xoa_khu!=null" data-balloon-visible data-balloon-length="medium"
        data-balloon="Xóa" data-balloon-pos="left" ion-fab color="danger" (tap)="remove()">
        <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>