<ion-header>
  <header [title]="'Quản lý lâm sàn'">
    <ion-toolbar toolbar-transparent>
      <ion-row>
        <ion-col align-self-center>
          <input-select class="input-select" [value]="selectedFarm" [placeholder]="'Chọn trang trại'" [(data)]="farms"
            (changeValue)="changeFarm($event)">
          </input-select>
        </ion-col>
        <ion-col text-right>
          <button ion-button mode='ios' color="secondary" (tap)="resolveIssuePigs()">Chuẩn đoán và xử lý</button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </header>
</ion-header>

<ion-content *ngIf="platform.is('core')">
  <ion-row>
    <ion-col col-lg-3 col-md-4>
      <ion-card mode='ios'>
        <ion-card-header>Danh sách khu thuộc trang trại</ion-card-header>
        <ion-card-content class="ion-card-content-list-setting" no-padding>
          <ion-list>
            <button *ngFor="let section of sections;let idx= index" (tap)="selectSection(section)"
              [attr.active]="section.selected? '':null" ion-item>
              <ion-row>
                <ion-col align-self-center col-2>
                  <ion-icon name="app-item-setting" font28></ion-icon>
                </ion-col>
                <ion-col col-10>
                  <h2 text-wrap>{{section.name}}</h2>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="issue_groupBySection.get(section.id)" align-items-center>
                <p ion-text color="danger">
                  <ion-icon style="font-size: 20px" name="ios-warning"></ion-icon>
                  {{issue_groupBySection.get(section.id).length + ' vấn đề được phát hiện'}}
                </p>
              </ion-row>
              <ion-row *ngIf="!issue_groupBySection.get(section.id)" align-items-center>
                <p ion-text color="secondary">Không có vấn đề nào được phát hiện</p>
              </ion-row>
            </button>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col col-lg-9 col-md-8 no-padding>
      <!-- <ion-slides paper="true" #slider>
          <ion-slide *ngFor="let key of list_keys"> -->
      <ion-header>
        <ion-toolbar>
          <ion-searchbar col-md-7 mode="ios" animated="true" debounce="500" [placeholder]="placeholderSearch"
            [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="setFilteredItems()">
          </ion-searchbar>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div id="content">
          <ion-item-divider custom-diviver sticky="true" showWhen="core">
            Danh sách ghi nhận vấn đề heo
          </ion-item-divider>
          <ion-list *ngIf="platform.is('core')">
            <span *ngFor="let item of visible_items;let idx= index">
              <ion-item-sliding>
                <ion-item>
                  <ion-avatar item-start>
                    <ion-icon name="app-pig-outline" font28></ion-icon>
                  </ion-avatar>
                  <h2 *ngIf="mainAttribute"><b>{{item[mainAttribute]}}</b></h2>
                  <ion-row>
                    <ion-col *ngFor="let attr of attributes" [attr.col-6]="!platform.is('core')"
                      [attr.col-xl-3]="platform.is('core')" [attr.col-lg-3]="platform.is('core')"
                      [attr.col-md-4]="platform.is('core')" [attr.col-sm-6]="platform.is('core')"
                      [attr.text-wrap]="platform.is('core')">
                      <p style="padding:5px!important"><b>{{attr.label}}:</b> {{item[attr.name]}}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <button small ion-button item-end mode='ios' color="main">Xem vấn đề</button>
                    </ion-col>
                  </ion-row>
                </ion-item>
              </ion-item-sliding>
            </span>
          </ion-list>
          <ion-list *ngIf="!platform.is('core')">
            <button *ngFor="let item of visible_items;let idx= index" ion-item>
              <ion-avatar item-start>
                <ion-icon name="app-pig-outline" font28></ion-icon>
              </ion-avatar>
              <h2 *ngIf="mainAttribute"><b>{{item[mainAttribute]}}</b></h2>
              <ion-row>
                <ion-col *ngFor="let attr of attributes" [attr.col-6]="!platform.is('core')"
                  [attr.col-xl-3]="platform.is('core')" [attr.col-lg-3]="platform.is('core')"
                  [attr.col-md-4]="platform.is('core')" [attr.col-sm-6]="platform.is('core')"
                  [attr.text-wrap]="platform.is('core')">
                  <p style="padding:5px!important"><b>{{attr.label}}:</b> {{item[attr.name]}}</p>
                </ion-col>
              </ion-row>
            </button>
          </ion-list>
          <ion-infinite-scroll (ionInfinite)="loadData($event)" *ngIf="page_Idx!==page_Total">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải dữ liệu...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
      </ion-content>

      <!-- </ion-slide>
        </ion-slides> -->
    </ion-col>
  </ion-row>
</ion-content>

<!-- <ion-content #contentExternalInvoice class="setting-util-component">
  
</ion-content> -->