page-pig-review-index {
    ion-label{
        font-size:15px!important;
        color:black!important;
        font-weight: bold;    
    }
    
    ion-item{
        .item-inner{
            border-bottom-color: transparent!important;
        }
    }
}
