page-home {
    .scroll-content::-webkit-scrollbar{
        display: none;// Safari and Chrome
    }
    ion-content {
        [active]{
            color:#005bea!important;
            background:linear-gradient(to right,$themeColor1)!important;
        }
    }
}
