<ion-menu persistent="true" [content]="content">
  <ion-header>
    <ion-toolbar text-center>
      <ion-list no-margin no-bounce no-lines>
        <ion-item style="background: transparent!important" (tap)="viewUserPage()">
          <ion-avatar item-start style="margin: 5px!important">
            <img src="../../assets/imgs/default-user.png">
          </ion-avatar>
          <ion-row>
            <ion-col>
              <h2 ion-text>{{user.name}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p ion-text>{{user.username}}</p>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <ion-buttons right>
        <button ion-button font20 padding style="position: relative!important" >
          <ion-icon name="md-notifications" font28>
            <ion-badge color="danger" class="ion-badge-notification">10</ion-badge>
          </ion-icon>
        </button>
        <button ion-button font20 padding (tap)="openSetting()">
            <ion-icon name="app-setting-config" font28 ></ion-icon>
        </button>

      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngFor="let p of pages" no-lines no-margin>
      <span>
        <button ion-item (click)="openPage(p);p.expand=!p.expand" [attr.active]="p.active?'':null" no-lines>
          <ion-icon item-start [name]="p.icon"></ion-icon>{{p.title}}
          <!-- <ion-icon item-end name="ios-arrow-forward" *ngIf="!p.expand"></ion-icon> -->
          <!-- <ion-icon item-end name="ios-arrow-down" *ngIf="p.expand"></ion-icon> -->
        </button>
      </span>
    </ion-list>
  </ion-content>

  <ion-footer padding no-border style="padding:0px!important;">
    <button (tap)="logOut()" mode='ios' ion-button no-margin full color="dark"
      [attr.disabled]="!activeLogOut?'':null">Đăng xuất</button>
  </ion-footer>

</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>