
<ion-menu persistent="true" [content]="content">
  <ion-header>
    <ion-toolbar text-center>
      <ion-card-content>
        <ion-icon name="ios-ionic" style="font-size: 100px;color:white"></ion-icon>
      </ion-card-content>
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <ion-list *ngFor="let p of pages" no-lines no-margin>
      <button ion-item (click)="openPage(p);p.expand=!p.expand" [attr.active]="p.active?'':null" no-lines>
        <ion-icon item-start [name]="p.icon"></ion-icon>{{p.title}}
        <!-- <ion-icon item-end name="ios-arrow-forward" *ngIf="!p.expand"></ion-icon> -->
        <!-- <ion-icon item-end name="ios-arrow-down" *ngIf="p.expand"></ion-icon> -->
      </button>
      <expandable [expandedHeight]="200" [expanded]="p.expand">

      </expandable>
    </ion-list>
  </ion-content>

  <ion-footer padding no-border style="padding:0px!important;">
    <button mode='ios' ion-button no-margin full color="dark" >Đăng xuất</button>
  </ion-footer>

</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>