<ion-header>
  <ion-navbar no-padding>
    <ion-toolbar>
      <ion-buttons left showWhen="core">
        <button navPop ion-button icon-only>
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>  
      <ion-title showWhen="ios,android">{{farm.name}}</ion-title>
      <ion-row showWhen='core'>
        <ion-item-divider sticky="true" no-lines>
          <ion-row>
            <ion-col>
              <h2 font28 white>{{farm.name}}</h2>
            </ion-col>
            <ion-col>
              <ion-segment mode='md'>
                <ion-segment-button black text-weight font15>
                  <ion-icon vertical-alight-bottom name="ios-information-circle"></ion-icon>
                  Thông tin chung
                </ion-segment-button>
                <ion-segment-button black text-weight font15>
                  <ion-icon vertical-alight-bottom name="md-calendar"></ion-icon>
                  Lịch
                </ion-segment-button>
                <ion-segment-button black text-weight font15>
                  <ion-icon vertical-alight-bottom name="md-clipboard"></ion-icon>
                  Hoạt động
                </ion-segment-button>
              </ion-segment>
            </ion-col>
          </ion-row>
        </ion-item-divider>
      </ion-row>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content no-padding showWhen="core">

  <ion-list no-padding>
    <ion-row>
      <ion-col>
        <ion-card mode='ios' style="background: white" style="margin-right:0px">
          <ion-card-header mode='ios'>
            <ion-row>
              <ion-col>
                <ion-card-title text-wrap>
                  <ion-icon name="app-farm" style="vertical-align: sub"></ion-icon>
                  Thông tin chi tiết
                </ion-card-title>
              </ion-col>
              <ion-col text-right>
                <button mode='ios' ion-button item-end color="secondary" (tap)="editFarm()">Chỉnh sửa</button>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content mode='ios' class="card-content-custom" padding>
            <ion-list no-lines>
              <ion-row>
                <ion-col [attr.col-12]="platform.is('core')?null:''">
                  <ion-item>
                    <ion-label stacked>Số lượng</ion-label>
                    <ion-input text-wrap type="text" readonly [(ngModel)]="farm.total_pig"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label text-wrap stacked>Địa chỉ</ion-label>
                    <ion-textarea rows="1" cols="20" type="text" readonly [(ngModel)]="farm.address"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Ngày thành lập</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Diện tích</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Loại trại</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Người quản lý</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Chờ bán</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Tổng đàn</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                </ion-col>

                <ion-col [attr.col-12]="platform.is('core')?null:''">
                 
                  <ion-item>
                    <ion-label stacked>Khu cách ly</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu nọc</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu phối</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu mang thai</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu đẻ</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu cai sữa</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col [attr.col-12]="platform.is('core')?null:''">
                  <div *ngIf="platform.is('core')" id="chartMain"></div>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card style="background: white">
          <ion-card-header mode='ios'>
            <ion-card-title text-wrap>Quy mô các khu</ion-card-title>
          </ion-card-header>
          <ion-card-content mode='ios' style="padding-top: 10vH">
            <ion-row>
              <ion-col [attr.col-12]="platform.is('core')?null:''">
                <div *ngIf="platform.is('core')" id="barChart"></div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-card mode='ios' style="background: white">
        <ion-card-header mode='ios'>
          <ion-card-title text-wrap>Cơ cấu tổng đàn</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <ion-card *ngIf="platform.is('core')">
                <ion-card-content>
                  <div id='chart1'></div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <ion-card *ngIf="platform.is('core')">
                <ion-card-content>
                  <div id='chart2'></div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <ion-card *ngIf="platform.is('core')">
                <ion-card-content>
                  <div id='chart3'></div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-list>
</ion-content>


<ion-content no-padding showWhen="ios,android" >
  <ion-item-divider sticky="true" text-wrap>{{title[slider.realIndex]}}</ion-item-divider>
  <ion-list no-lines>
    <ion-slides paper="true" #slider>
      <ion-slide>
        <ion-infinite-scroll>
          <ion-item>
            <ion-label stacked>Số lượng</ion-label>
            <ion-input text-wrap type="text" readonly [(ngModel)]="farm.total_pig"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label text-wrap stacked>Địa chỉ</ion-label>
            <ion-textarea rows="1" cols="20" type="text" readonly [(ngModel)]="farm.address"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label stacked>Ngày thành lập</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Diện tích</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Loại trại</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Người quản lý</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Chờ bán</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Tổng đàn</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu cách ly</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu nọc</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu phối</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu mang thai</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu đẻ</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu cai sữa</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
        </ion-infinite-scroll>
      </ion-slide>

      <ion-slide>
        <ion-infinite-scroll>
          <ion-row padding style="margin-top: 10%">
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <div id="chartMain" *ngIf="!platform.is('core')"></div>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll>
      </ion-slide>

      <ion-slide>
        <ion-infinite-scroll>
          <ion-row padding style="margin-top: 10%">
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <div id="barChart" *ngIf="!platform.is('core')"></div>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll>
      </ion-slide>

      <ion-slide>
        <ion-infinite-scroll>
          <ion-row padding style="margin-top: 10%">
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <div id='chart2' *ngIf="!platform.is('core')"></div>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll>
      </ion-slide>

      <ion-slide>
        <ion-infinite-scroll>
          <ion-row padding style="margin-top: 10%">
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <div id='chart3' *ngIf="!platform.is('core')"></div>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll>
      </ion-slide>

      <ion-slide>
        <ion-infinite-scroll>
          <ion-row padding style="margin-top: 10%">
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <div id='chart1' *ngIf="!platform.is('core')"></div>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll>
      </ion-slide>

    </ion-slides>
  </ion-list>
</ion-content>