<ion-header>
  <ion-navbar no-padding>
    <ion-toolbar toolbar-transparent>
      <ion-title>{{farm.name}}</ion-title>
    </ion-toolbar>
  </ion-navbar>
  <ion-toolbar showWhen="core" class="pl-10">
    <!-- <ion-row showWhen="core" text-left> -->
    <button color="secondary" ion-button mode='ios' (tap)="viewPigGroups()">
      Danh sách nhóm heo
    </button>
    <button color="secondary" ion-button mode='ios' (tap)="viewEmployee()">
      Danh sách nhân viên
    </button>
    <!-- </ion-row> -->
  </ion-toolbar>
</ion-header>

<ion-content no-padding showWhen="core">
  <ion-list no-padding>
    <ion-row>
      <ion-col>
        <ion-card mode='ios' style="background: white" style="margin-right:0px">
          <ion-card-header mode='ios'>
            <ion-row>
              <ion-col>
                <ion-card-title text-wrap>
                  <ion-icon name="app-farm" style="vertical-align: sub"></ion-icon>
                  Thông tin chi tiết
                </ion-card-title>
              </ion-col>
              <ion-col text-right>
                <button mode='ios' ion-button item-end color="secondary" (tap)="editFarm()">Chỉnh sửa</button>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content mode='ios' class="card-content-custom" no-padding>
            <ion-list no-lines>
              <ion-row>
                <ion-col [attr.col-12]="platform.is('core')?null:''">
                  <ion-item>
                    <ion-label stacked>Số lượng</ion-label>
                    <ion-input text-wrap type="text" readonly [(ngModel)]="summary.total_pig.length"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label text-wrap stacked>Địa chỉ</ion-label>
                    <ion-textarea rows="1" cols="20" type="text" readonly [(ngModel)]="farm.address"></ion-textarea>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Ngày thành lập</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.foundingDisplay"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Diện tích</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.area"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="farm.type">
                    <ion-label stacked>Loại trại</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.type.name"></ion-input>
                  </ion-item>
                  <ion-item *ngIf="farm.managerEmployee">
                    <ion-label stacked>Người quản lý</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.managerEmployee.name"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label stacked>Mô tả</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.description"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col [attr.col-12]="platform.is('core')?null:''">
                  <ion-item>
                    <ion-label stacked>Tổng đàn</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="summary.total_pig.length"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu cách ly</ion-label>
                    <ion-input type="text" readonly></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu nọc</ion-label>
                    <ion-input type="text" readonly></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu phối</ion-label>
                    <ion-input type="text" readonly></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu mang thai</ion-label>
                    <ion-input type="text" readonly></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu đẻ</ion-label>
                    <ion-input type="text" readonly></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Khu cai sữa</ion-label>
                    <ion-input type="text" readonly></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Chờ bán</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col [attr.col-12]="platform.is('core')?null:''" *ngIf="summary">
                  <div *ngIf="platform.is('core')" id="chartMain"></div>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-card style="background: white">
          <ion-card-header mode='ios'>
            <ion-card-title text-wrap>Quy mô các khu</ion-card-title>
          </ion-card-header>
          <ion-card-content mode='ios' style="padding-top: 10vH">
            <ion-row>
              <ion-col [attr.col-12]="platform.is('core')?null:''">
                <div *ngIf="platform.is('core')" id="barChart"></div>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-card mode='ios' style="background: white">
        <ion-card-header mode='ios'>
          <ion-card-title text-wrap>Cơ cấu tổng đàn</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <ion-card *ngIf="platform.is('core')">
                <ion-card-content>
                  <div id='chart1'></div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <ion-card *ngIf="platform.is('core')">
                <ion-card-content>
                  <div id='chart2'></div>
                </ion-card-content>
              </ion-card>
            </ion-col>
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <ion-card *ngIf="platform.is('core')">
                <ion-card-content>
                  <div id='chart3'></div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-list>
</ion-content>


<ion-content no-padding showWhen="ios,android">
  <ion-item-divider sticky="true" text-wrap>{{title[slider.realIndex]}}</ion-item-divider>
  <ion-list no-lines>
    <ion-slides paper="true" #slider>
      <ion-slide>
        <ion-infinite-scroll>
          <ion-item>
            <ion-label stacked>Số lượng</ion-label>
            <ion-input text-wrap type="text" readonly [(ngModel)]="summary.total_pig.length"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label text-wrap stacked>Địa chỉ</ion-label>
            <ion-textarea rows="1" cols="20" type="text" readonly [(ngModel)]="farm.address"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label stacked>Ngày thành lập</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.founding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Diện tích</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.area"></ion-input>
          </ion-item>
          <ion-item *ngIf="farm.type">
            <ion-label stacked>Loại trại</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.type.name"></ion-input>
          </ion-item>
          <ion-item *ngIf="farm.managerEmployee">
            <ion-label stacked>Người quản lý</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.managerEmployee.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Mô tả</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.description"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Chờ bán</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Tổng đàn</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu cách ly</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu nọc</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu phối</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu mang thai</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu đẻ</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked>Khu cai sữa</ion-label>
            <ion-input type="text" readonly [(ngModel)]="farm.fouding"></ion-input>
          </ion-item>
        </ion-infinite-scroll>
      </ion-slide>

      <ion-slide>
        <ion-infinite-scroll>
          <ion-row padding style="margin-top: 10%">
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <div id="chartMain" *ngIf="!platform.is('core')"></div>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll>
      </ion-slide>

      <ion-slide>
        <ion-infinite-scroll>
          <ion-row padding style="margin-top: 10%">
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <div id="barChart" *ngIf="!platform.is('core')"></div>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll>
      </ion-slide>

      <ion-slide>
        <ion-infinite-scroll>
          <ion-row padding style="margin-top: 10%">
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <div id='chart2' *ngIf="!platform.is('core')"></div>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll>
      </ion-slide>

      <ion-slide>
        <ion-infinite-scroll>
          <ion-row padding style="margin-top: 10%">
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <div id='chart3' *ngIf="!platform.is('core')"></div>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll>
      </ion-slide>

      <ion-slide>
        <ion-infinite-scroll>
          <ion-row padding style="margin-top: 10%">
            <ion-col [attr.col-12]="platform.is('core')?null:''">
              <div id='chart1' *ngIf="!platform.is('core')"></div>
            </ion-col>
          </ion-row>
        </ion-infinite-scroll>
      </ion-slide>

    </ion-slides>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab>
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
    <ion-fab-list side="top" style="right:0px">
      <button data-balloon-visible data-balloon-length="medium" data-balloon="Chỉnh sửa thông tin"
        data-balloon-pos="left" ion-fab color="main" (tap)="editFarm()">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-menu [content]="Employee" side="right" #menuEmployee sticky="true" type="overlay" width="500">
  <employee-list (closeMenuEvent)="closeViewEmployee()" [data]="employeeProvider.employees"></employee-list>
</ion-menu>
<ion-nav #Employee></ion-nav>
<!-- 
<ion-menu [content]="Pigs" side="right" #menuPigs sticky="true" type="overlay" width="500">
  <pig-group-list (closeMenuEvent)="closeViewPigGroups()" [data]="groupProvider.groups"></pig-group-list>
</ion-menu>
<ion-nav #Pigs></ion-nav> -->