page-farm-infomation {
        
    ion-item-divider{
        color:white!important;
        text-align: left!important;
        background:linear-gradient(to right,$themeColor2,$light-tint)!important;
    }

    ion-label{
        font-size:15px!important;
        color:black!important;
        font-weight: bold;    
    }

    ion-item{
        .item-inner{
            border-bottom-color: transparent!important;
        }
    }

    // .swiper-container { 
    //     height: initial;
    // }

    // .swiper-slide:not(.swiper-slide-active) > div {
    //     display:none;
    // }
      
    .card-header{
        background:linear-gradient(to right,$themeColor2,$light-tint);
        padding: 5px 15px!important;
    }

    .card-content{
        background: white;
    }

    // .card-content-custom{
    //     max-height: 70.5vH;
    //     min-height: 70vH;
    //     overflow: auto;
    // }

    .card{
        background: $light-tint;
    }

    ion-col{
        padding:0px!important;
    }


    ion-label{
        font-size:15px!important;
    }

    ion-menu{
        .menu-inner{
            width: 50vW;
        }
    }
}
