<ion-header>
  <ion-toolbar>
    <ion-buttons left showWhen="ios,android">
      <button navPop ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar col-md-7 mode="ios" animated="true" debounce="500" [placeholder]="placeholderSearch"
      [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="setFilteredItems()">
    </ion-searchbar>
    <ion-buttons right>
      <button ion-button font20 (tap)="openFilter()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #contentExternalInvoice class="setting-util-component">
  <div id="content" style="height: 100%">
    <ion-item-divider custom-diviver sticky="true" showWhen="core">{{title}}</ion-item-divider>
    <ion-list *ngIf="platform.is('core')">
      <span *ngFor="let item of visible_items;let idx= index">
        <ion-item-sliding *ngIf="statusFilter.length?(statusFilter.includes(item.statusCode)):true">
          <ion-item>
            <ion-avatar item-start>
              <ion-icon name="app-pig-outline" font28></ion-icon>
            </ion-avatar>
            <h2 *ngIf="mainAttribute"><b>{{item[mainAttribute]}}</b></h2>
            <ion-row>
              <ion-col *ngFor="let attr of attributes" [attr.col-6]="!platform.is('core')"
                [attr.col-xl-3]="platform.is('core')" [attr.col-lg-3]="platform.is('core')"
                [attr.col-md-4]="platform.is('core')" [attr.col-sm-6]="platform.is('core')"
                [attr.text-wrap]="platform.is('core')">
                <p *ngIf="attr.usingBadge" style="padding:5px!important"><b>{{attr.label}}:</b>
                  <ion-badge color="main">{{item[attr.name]}}</ion-badge>
                </p>
                <p *ngIf="!attr.usingBadge" style="padding:5px!important"><b>{{attr.label}}:</b> {{item[attr.name]}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <option-list-pig-section *ngIf="sectionTypeId" [(sectionTypeId)]="sectionTypeId"
                [(pig)]="visible_items[idx]" (pigChange)="pigChange($event,item)">
              </option-list-pig-section>
            </ion-row>
          </ion-item>
        </ion-item-sliding>
      </span>
    </ion-list>
    <ion-list *ngIf="!platform.is('core')">
      <button *ngFor="let item of visible_items;let idx= index" ion-item (tap)="viewInfo(item)">
        <ion-avatar item-start>
          <ion-icon name="app-pig-outline" font28></ion-icon>
        </ion-avatar>
        <h2 *ngIf="mainAttribute"><b>{{item[mainAttribute]}}</b></h2>
        <ion-row>
          <ion-col *ngFor="let attr of attributes" [attr.col-6]="!platform.is('core')"
            [attr.col-xl-3]="platform.is('core')" [attr.col-lg-3]="platform.is('core')"
            [attr.col-md-4]="platform.is('core')" [attr.col-sm-6]="platform.is('core')"
            [attr.text-wrap]="platform.is('core')">
            <p *ngIf="attr.usingBadge" style="padding:5px!important"><b>{{attr.label}}:</b>
              <ion-badge color="main">{{item[attr.name]}}</ion-badge>
            </p>
            <p *ngIf="!attr.usingBadge" style="padding:5px!important"><b>{{attr.label}}:</b> {{item[attr.name]}}</p>
          </ion-col>
        </ion-row>
      </button>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadData($event)" *ngIf="page_Idx!==page_Total">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải dữ liệu...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <ion-fab bottom right *ngIf="!platform.is('core')">
    <button ion-fab>
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
    <ion-fab-list side="top" style="right:0px">
      <button (tap)="scan()" data-balloon-visible data-balloon-length="medium" data-balloon="Quét mã QR"
        data-balloon-pos="left" ion-fab color="main">
        <ion-icon name="app-qr-scanner"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-menu [content]="mycontent" side="right" #menuFilter sticky="true" type="overlay" width="500">
  <ion-header>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button font20 (tap)="closeFilter()">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Lọc theo tùy chọn</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <!-- <ion-item>
        <ion-label stacked>Trang trại</ion-label>
        <ion-select interface="popover" title="Trang trại" mode="ios" [selectOptions]="customAlertOptions"
          (ionChange)="filterFarm($event)" placeholder="Tất cả">
          <ion-option [value]="''">Tất cả</ion-option>
          <ion-option *ngFor="let item of farmFilter" [value]="item.value">{{item.name}}</ion-option>
        </ion-select>
      </ion-item> -->
      <ion-item>
        <ion-label stacked>Khu</ion-label>
        <ion-select interface="popover" title="Khu" mode="ios" [selectOptions]="customAlertOptions"
          (ionChange)="filterSection($event)" placeholder="Tất cả">
          <ion-option [value]="''">Tất cả</ion-option>
          <ion-option *ngFor="let item of sectionFilter" [value]="item.value">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Chuồng</ion-label>
        <ion-select interface="popover" title="Chuồng" mode="ios" [selectOptions]="customAlertOptions"
          (ionChange)="filterHouse($event)" placeholder="Tất cả">
          <ion-option [value]="''">Tất cả</ion-option>
          <ion-option *ngFor="let item of houseFilter" [value]="item.value">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Giống</ion-label>
        <ion-select interface="popover" title="Giống" mode="ios" okText="Chọn" cancelText="Hủy"
          [selectOptions]="customAlertOptions" (ionChange)="filterBreed($event)" placeholder="Tất cả">
          <ion-option [value]="''">Tất cả</ion-option>
          <ion-option *ngFor="let item of breedFilter" [value]="item.value">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- <ion-item>
        <ion-label stacked>Nhà</ion-label>
        <ion-select [(ngModel)]="houseFilter" multiple="true" interface="alert" title="Giới tính" mode="ios"
          okText="Duyệt" cancelText="Hủy" [selectOptions]="customAlertOptions" placeholder="Tất cả"
          (ionChange)="setFilteredItems()">
          <ion-option *ngFor="let house of houses" [value]="house.id">{{house.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>
          Khối lượng gốc
          <ion-badge color="danger">{{dualValue2.lower}}</ion-badge>
          <ion-badge color="danger">{{dualValue2.upper}}</ion-badge>
        </ion-label>
        <ion-range mode="ios" pin="true" dualKnobs="true" [(ngModel)]="dualValue2" min="0" max="500" snaps="true"
          debounce="500" (ionChange)="setFilteredItems()">
        </ion-range>
      </ion-item> -->
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #mycontent></ion-nav>