// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
@import '../assets/css/fullcalendar/style.scss';
@import '../assets/css/fullcalendar/resource-timeline.scss';
@import '../assets/css/fullcalendar/timegrid.scss';
@import '../assets/css/fullcalendar/timeline.scss';
@import '../assets/css/balloon/main.min.css';
@import '../assets/css/custom-fullcalendar/style.scss';
@import '../assets/css/balloon/balloon-visible.scss';
@import '../assets/css/my-icon/my-icon.scss';
@import '../assets/css/splash-animation/splash-animation.scss';


$colors: (
  primary:      #005bea,
  primary-custome:  #005bea,
  secondary:      #32db64,
  danger:         #f53d3d,
  light:          #f4f4f4,
  dark:           #222,
  main:           #01C2FA,
  medium:         #989aa2
);

$themeColor1:(#d7d8da,#f5f6f9);
// $themeColor2:(#01C2FA,#2dcfff);
$themeColor2:(#01C2FA);

$main:#32D398;
$dark:#232123;
$light-tint:#d7d8da;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";


.event-fullcalendar { 
  .fc-content{
    padding: 5px;
    font-weight: bold;
    color: white;
    background:linear-gradient(to right,$themeColor2,$light-tint);
    border-color:#01C2FA;
    border-radius: 15px;
  }
}


$text-input-highlight-color-invalid:#dedede;