<ion-header>
  <ion-navbar no-padding>
    <ion-toolbar no-border>
      <!-- <ion-buttons left>
        <button navPop ion-button icon-only>
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons> -->
      <ion-title>Thông tin nhà</ion-title>
    </ion-toolbar>
  </ion-navbar>
  <ion-toolbar showWhen="core" class="pl-10">
    <button color="secondary" ion-button mode='ios'>
      Nhập heo
    </button>
    <button color="secondary" ion-button mode='ios'>
      Lên giống heo nái
    </button>
    <button color="secondary" ion-button mode='ios'>
      Chuyển heo và xuất bán
    </button>
  </ion-toolbar>
</ion-header>

<ion-content no-padding *ngIf="platform.is('core')">
  <ion-list no-padding>
    <ion-row>
      <ion-col>
        <ion-card mode='ios' style="background: white">
          <ion-card-header mode='ios'>
            <!-- <ion-card-title text-wrap>Thông tin chi tiết</ion-card-title> -->
            <ion-row>
              <ion-col>
                <ion-card-title text-wrap>
                  <ion-icon name="app-farm" style="vertical-align: sub"></ion-icon>
                  Thông tin chi tiết
                </ion-card-title>
              </ion-col>
              <ion-col text-right>
                <button mode='ios' ion-button item-end color="secondary" (tap)="editHouse()">Chỉnh sửa</button>
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content mode='ios' class="card-content-custom" padding>
            <ion-list no-lines>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label stacked>Tên nhà</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="house.name"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Số nhà</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="house.houseCode"></ion-input>
                  </ion-item>
                  <!-- <ion-item>
                    <ion-label stacked>Loại nhà</ion-label>
                    <ion-input text-wrap type="text" readonly [(ngModel)]="house.typeId"></ion-input>
                  </ion-item> -->
                  <!-- <ion-item>
                    <ion-label stacked>Người quản lý</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="house.managerEmployee.name"></ion-input>
                  </ion-item> -->
                  <ion-item>
                    <ion-label stacked>Ngày thành lập</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="house.founding"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label stacked>Mô tả</ion-label>
                    <ion-input type="text" readonly [(ngModel)]="house.description"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <div id="chartSummary"></div>
                </ion-col>
              </ion-row>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>

<ion-content no-padding *ngIf="!platform.is('core')">
  <ion-item-divider sticky="true">{{title[slider.realIndex]}}</ion-item-divider>
  <ion-slides scrollbar="true" #slider>
    <ion-slide>
      <!-- <ion-infinite-scroll> -->
      <ion-list no-padding lines>
        <ion-item>
          <ion-label stacked>Tên nhà</ion-label>
          <ion-input type="text" readonly [(ngModel)]="house.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Số nhà</ion-label>
          <ion-input text-wrap type="text" readonly [(ngModel)]="house.houseCode"></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label stacked>Loại nhà</ion-label>
          <ion-input text-wrap type="text" readonly [(ngModel)]="house.typeId"></ion-input>
        </ion-item> -->
        <!-- <ion-item>
          <ion-label stacked>Người quản lý</ion-label>
          <ion-input type="text" readonly [(ngModel)]="house.managerEmployee.name"></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label stacked>Ngày thành lập</ion-label>
          <ion-input type="text" readonly [(ngModel)]="house.founding"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Mô tả</ion-label>
          <ion-input type="text" readonly [(ngModel)]="house.description"></ion-input>
        </ion-item>
        <!-- </ion-infinite-scroll> -->
      </ion-list>

    </ion-slide>
    <ion-slide>
      <ion-infinite-scroll>
        <div id="chartSummary"></div>
      </ion-infinite-scroll>
    </ion-slide>
  </ion-slides>

  <ion-fab bottom right>
    <button ion-fab>
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
    <ion-fab-list side="top" style="right:0px">
      <button data-balloon-visible data-balloon-length="medium" data-balloon="Chỉnh sửa thông tin"
        data-balloon-pos="left" ion-fab color="main" (tap)="editHouse()">
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer no-padding no-border showWhen="ios,android">

  <ion-row>
    <ion-col>
      <button mode='ios' ion-button block small text-wrap color='main'>
        <ion-icon name="app-action"></ion-icon>
      </button>
      <p text-wrap class="title-button">Nhập heo</p>
    </ion-col>
    <ion-col>
      <button mode='ios' ion-button block small text-wrap color='main'>
        <ion-icon name="app-action"></ion-icon>
      </button>
      <p text-wrap class="title-button">Lên giống heo nái</p>
    </ion-col>
    <ion-col>
      <button mode='ios' ion-button block small text-wrap color='main'>
        <ion-icon name="app-action"></ion-icon>
      </button>
      <p text-wrap class="title-button">Chuyển heo</p>
    </ion-col>
  </ion-row>
</ion-footer>

<!-- 

<ion-menu [content]="Employee" side="right" #menuEmployee sticky="true" type="overlay" width="500">
    <employee-list  (closeMenuEvent)="closeViewEmployee()" [data]="employeeProvider.employees"></employee-list>
</ion-menu>
<ion-nav #Employee></ion-nav>

<ion-menu [content]="Pigs" side="right" #menuPigs sticky="true" type="overlay" width="500">
    <pig-group-list  (closeMenuEvent)="closeViewPigs()" [data]="groupProvider.groups"></pig-group-list>
</ion-menu>
<ion-nav #Pigs></ion-nav> -->