<ion-header>
  <header [title]="'Hoạt động'">
  </header>
</ion-header>
<ion-content *ngIf="platform.is('core')">
  <ion-row>
    <ion-col col-lg-3 col-md-4>
      <ion-card mode='ios'>
        <ion-card-header>Danh sách hoạt động</ion-card-header>
        <ion-card-content class="ion-card-content-list-setting" no-padding>
          <ion-list *ngFor="let p of pages" no-lines no-margin>
            <button ion-item (click)="openPage(p);p.expand=!p.expand;" [attr.active]="p.active?'':null" no-lines>
              <ion-icon item-start [name]="p.icon"></ion-icon>
              {{p.title}}
              <ion-icon item-end name="ios-arrow-forward" *ngIf="p.components && p.components.length && !p.expand">
              </ion-icon>
              <ion-icon item-end name="ios-arrow-down" *ngIf="p.components && p.components.length && p.expand">
              </ion-icon>
            </button>
            <expandable [expanded]="p.expand" *ngIf="p.components">
              <ion-list>
                <button 
                ion-item *ngFor="let component of p.components" 
                (click)="openComponent(component)"
                [attr.active]="component.active?'':null">{{component.name}}</button>
              </ion-list>
            </expandable>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col col-lg-9 col-md-8 no-padding>
      <ion-nav [root]="rootPage" #activities [rootParams]="rootParam"></ion-nav>
    </ion-col>
  </ion-row>
</ion-content>