<span #options>
  <ion-row>
    <ion-col>
      <button 
      *ngIf="userProvider.rolePermission.ROLE_xem_thong_tin_heo_tai_khu!=null && view_info.includes(sectionTypeId)"
      small ion-button item-end mode='ios' color="main"
      (tap)="viewDetail()">Xem thông tin</button>
    </ion-col>
    
    <ion-col>
      <button 
      *ngIf="userProvider.rolePermission.ROLE_nhap_van_de_cua_heo!=null"
      showWhen="core" 
      small ion-button item-end mode='ios' color="secondary"
      (tap)="health_input()">Nhập vấn đề</button>
    </ion-col>
    
    <ion-col>
      <button 
      showWhen="core"
      small ion-button item-end mode='ios' color="secondary"
      *ngIf="userProvider.rolePermission.ROLE_danh_gia_chuyen_noi_bo!=null &&  statusObjectKey[pig.statusId].code != statusPig.MATING"
      (tap)="transferSection()">Đánh giá & chuyển nội bộ</button>
    </ion-col>
    
    <!-- <ion-col>
      <button 
      showWhen="core" 
      *ngIf="add_to_sale_list.includes(sectionTypeId) 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_SALE
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_TRANSFER
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_MATING"
      small ion-button item-end mode='ios' color="secondary"
      (tap)="forwardToSaleWaiting()">Thêm vào danh sách chờ bán</button>
    </ion-col> -->
    
    <!-- <ion-col>
      <button 
      showWhen="core" 
      *ngIf="add_to_sale_list.includes(sectionTypeId) 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_SALE
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_TRANSFER
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_MATING"
      small ion-button item-end mode='ios' color="secondary"
      (tap)="forwardToFarmTransferWating()">Thêm vào danh sách chờ chuyển trại</button>
    </ion-col> -->
   

    <!-- <ion-col>
      <button 
      showWhen="core" 
      *ngIf="add_to_sale_list.includes(sectionTypeId) 
      && statusObjectKey[pig.statusId].code == statusPig.WAIT_FOR_SALE"
      small ion-button item-end mode='ios' color="secondary"
      (tap)="cancelSaleWaiting()">Hủy chờ bán</button>
    </ion-col> -->
    
    <!-- <ion-col>
      <button 
      showWhen="core" 
      *ngIf="add_to_sale_list.includes(sectionTypeId) 
      && statusObjectKey[pig.statusId].code == statusPig.WAIT_FOR_TRANSFER"
      small ion-button item-end mode='ios' color="secondary"
      (tap)="cancelFarmTransferWating()">Hủy chuyển trại</button>
    </ion-col>
     -->
    <ion-col>
      <button 
      showWhen="core" 
      *ngIf="userProvider.rolePermission.ROLE_len_giong_heo_nai!=null 
      && breeding.includes(sectionTypeId) 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_SALE 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_MATING 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_TRANSFER
      && statusObjectKey[pig.statusId].code != statusPig.UNKNOW
      && pig.gender == gender.FEMALE"
      small ion-button item-end mode='ios' color="secondary"
      (tap)="breeding_input()">Lên giống</button>
    </ion-col>
    
    <ion-col>
      <button 
      showWhen="core" 
      *ngIf="userProvider.rolePermission.ROLE_khai_thac_tinh_heo!=null 
      && sperm.includes(sectionTypeId) 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_SALE
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_TRANSFER
      && statusObjectKey[pig.statusId].code != statusPig.UNKNOW
      && pig.gender == gender.MALE"
      small ion-button item-end mode='ios' color="secondary"
      (tap)="sperm_input()">Khai thác tinh heo</button>
    </ion-col>
    
    <!-- <ion-col>
      <button 
      showWhen="core" 
      *ngIf="userProvider.rolePermission.ROLE_ghi_nhan_phoi_giong!=null
      && mating.includes(sectionTypeId) 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_SALE
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_TRANSFER
      && statusObjectKey[pig.statusId].code != statusPig.UNKNOW
      && pig.gender == gender.FEMALE
      && statusObjectKey[pig.statusId].code == statusPig.WAIT_FOR_MATING"
      small ion-button item-end mode='ios' color="secondary"
      (tap)="mating_input()">Phối giống</button>
    </ion-col> -->
    
    <ion-col>
      <button 
      showWhen="core" 
      *ngIf="userProvider.rolePermission.ROLE_them_vao_danh_sach_cai_sua!=null && 
      weaning.includes(sectionTypeId) 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_SALE
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_TRANSFER
      && statusObjectKey[pig.statusId].code != statusPig.UNKNOW
      && (statusObjectKey[pig.statusId].code == statusPig.FARROWING || statusObjectKey[pig.statusId].code == statusPig.NEWBORN)"
      small ion-button item-end mode='ios' color="secondary"
      (tap)="weaningMarked()">Thêm vào danh sách cai sữa</button>
    </ion-col>

    <ion-col>
      <button 
      showWhen="core" 
      *ngIf="userProvider.rolePermission.ROLE_phan_loai_danh_gia_chat_luong_heo!=null && 
      review_offset.includes(sectionTypeId) 
      && statusObjectKey[pig.statusId].code != statusPig.SOLD"
      small ion-button item-end mode='ios' color="secondary"
      (tap)="reviewOffset()">Phân loại đánh giá chất lượng heo đầu ra</button>
    </ion-col>
    
</ion-row>

</span>