<span #options >
  <button 
  showWhen="core" 
  *ngIf="view_info.includes(sectionTypeId)"
  small ion-button item-end mode='ios' color="main"
  (tap)="viewDetail()">Xem thông tin</button>

  <button 
  showWhen="core" 
  *ngIf="add_to_sale_list.includes(sectionTypeId) && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_SALE"
  small ion-button item-end mode='ios' color="secondary"
  (tap)="forwardToSaleWaiting()">Thêm vào danh sách chờ bán</button>
  
 <button 
  showWhen="core" 
  *ngIf="add_to_sale_list.includes(sectionTypeId) && statusObjectKey[pig.statusId].code == statusPig.WAIT_FOR_SALE"
  small ion-button item-end mode='ios' color="secondary"
  (tap)="cancelSaleWaiting()">Hủy chờ bán</button>
  
  <button 
  showWhen="core" 
  *ngIf="breeding.includes(sectionTypeId) && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_SALE && pig.gender == gender.FEMALE"
  small ion-button item-end mode='ios' color="secondary"
  (tap)="breeding_input()">Lên giống</button>

  <button 
  showWhen="core" 
  *ngIf="move_local.includes(sectionTypeId)"
  small ion-button item-end mode='ios' color="secondary">Chuyển nội bộ</button>

  <!-- <button showWhen="core" small ion-button item-end mode='ios' color="secondary">Thí tình</button> -->
</span>