<ion-navbar>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons start>
      <button ion-button font20 *ngIf="platform.is('ios') || platform.is('android')" (tap)="scan()">
        <ion-icon name="app-qr-scanner"></ion-icon>
      </button>
      <button item-end ion-button font20 (tap)="sync()"> 
        <ion-icon name="sync"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ng-content></ng-content>
</ion-navbar>