<ion-card style="background: white">
  <ion-card-header mode='ios'>
    <ion-row>
      <ion-col>
        <ion-card-title text-wrap>
          <ion-icon name="app-farm" style="vertical-align: sub"></ion-icon>
          {{farm.name}}
        </ion-card-title>
      </ion-col>
      <ion-col text-right>
        <button mode='ios' ion-button item-end (tap)="viewDetail(farm)">Xem thông tin</button>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content mode='ios'>
    <ion-row>
      <ion-col [attr.col-12]="platform.is('core')?null:''">
        <div class="chart" [attr.id]="farm.id"></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item-divider>Thông tin chung</ion-item-divider>
      <ion-row>
        <ion-col class="pd-5" col-6>
          <h2><b>Số lượng:</b> {{farm.total_pig}} <ion-icon name="app-pig-outline" style="vertical-align: bottom">
            </ion-icon>
          </h2>
        </ion-col>
        <ion-col class="pd-5" col-6>
          <h2><b>Địa chỉ:</b> {{farm.address}}</h2>
        </ion-col>
        <ion-col class="pd-5">
          <h2><b>Ngày thành lập:</b> {{farm.founding|date:'dd/MM/yyyy'}}</h2>
        </ion-col>
      </ion-row>
    </ion-row>

  </ion-card-content>
</ion-card>