expandable {
    .expand-wrapper{
       //  height: 0px;
       //  transition: 0.8s linear;
       max-height: 0;
       transition: max-height 1s ease-out;
       overflow: hidden;
    }
   
    .expanded {
       //  height:auto!important;
       max-height: 1000px;
        transition: max-height 1s ease-in;
    }
   
    [vetical-align-bottom]{
       vertical-align: bottom!important;
    }
}
   