<ion-header>
  <header [title]="'Danh sách chứng từ'">
  </header>
</ion-header>
<ion-content *ngIf="platform.is('core')">
  <ion-row>
    <ion-col col-lg-3 col-md-4>
      <ion-card mode='ios'>
        <ion-card-header>
          <ion-toolbar>
              Danh sách chứng từ
              <ion-buttons right>
                <button ion-button (tap)="getInvoices()"><ion-icon name="ios-sync"></ion-icon></button>
              </ion-buttons>
          </ion-toolbar>
        </ion-card-header>
        <ion-card-content class="ion-card-content-list-setting" no-padding>
          <ion-list>
            <button *ngFor="let key of list_keys;let idx= index" [attr.active]="idx === slider.realIndex? '':null"
              ion-item (tap)="scrollToView(idx)">
              <ion-row>
                <ion-col align-self-center col-2>
                  <ion-icon name="app-file" font28></ion-icon>
                </ion-col>
                <ion-col col-10>
                  <h2 text-wrap>{{list_invoice_type[key].title}}</h2>
                </ion-col>
              </ion-row>
            </button>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col col-lg-9 col-md-8 no-padding>
      <ion-slides paper="true" #slider>
        <ion-slide>
          <internal-pig-invoices [(invoices)]="internalPigInvoices"></internal-pig-invoices>
        </ion-slide>
        <ion-slide>
          <external-pig-invoices [(invoices)]="externalPigInvoices"></external-pig-invoices>
        </ion-slide>
        <ion-slide>
          <food-invoices [(invoices)]="foodInvoices"></food-invoices>
        </ion-slide>
        <ion-slide>
          <medicine-invoices [(invoices)]="medicineInvoices"></medicine-invoices>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
</ion-content>

<!-- <ion-content *ngIf="!platform.is('core')">
      <ion-item-divider>Danh sách thiết lập</ion-item-divider>
      <ion-row>
        <ion-card mode='ios'>
          <ion-card-content class="ion-card-content-list-setting" no-padding>
            <ion-list>
              <button *ngFor="let key of list_keys;let idx= index" ion-item (tap)="openPage(list_settings[key])">
                <ion-row>
                  <ion-col align-self-center col-2>
                    <ion-icon name="app-item-setting" font28></ion-icon>
                  </ion-col>
                  <ion-col col-10>
                    <h2 text-wrap>{{list_settings[key].title}}</h2>
                  </ion-col>
                </ion-row>
              </button>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-content> -->