<ion-fab bottom right showWhen="android,windows,ios" *ngIf="pig && sectionTypeId" #fab>
  <button ion-fab>
    <ion-icon name="ios-arrow-up"></ion-icon>
  </button>
  <ion-fab-list side="top" style="right:0px">


    <button (tap)="health_input()"
      *ngIf="userProvider.rolePermission.ROLE_nhap_van_de_cua_heo!=null"
      data-balloon-visible data-balloon-length="medium" 
      data-balloon="Nhập vấn đề"
      data-balloon-pos="left" ion-fab color="main">
      <ion-icon name="app-hand"></ion-icon>
    </button>

    <button (tap)="transferSection()"
      *ngIf="userProvider.rolePermission.ROLE_danh_gia_chuyen_noi_bo!=null && statusObjectKey[pig.statusId].code != statusPig.MATING"
      data-balloon-visible data-balloon-length="medium" 
      data-balloon="Đánh giá & chuyển nội bộ"
      data-balloon-pos="left" ion-fab color="main">
      <ion-icon name="app-hand"></ion-icon>
    </button>
    
    <button 
      *ngIf="userProvider.rolePermission.ROLE_them_vao_danh_sach_cai_sua!=null && 
      weaning.includes((sectionTypeId).toString()) 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_SALE
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_TRANSFER
      && statusObjectKey[pig.statusId].code != statusPig.UNKNOW
      && (statusObjectKey[pig.statusId].code == statusPig.FARROWING || statusObjectKey[pig.statusId].code == statusPig.NEWBORN)"
      data-balloon-visible data-balloon-length="medium" 
      data-balloon="Thêm vào danh sách cai sữa"
      data-balloon-pos="left" ion-fab color="main"
      (tap)="weaningMarked()">
      <ion-icon name="app-hand"></ion-icon>
    </button>
  
    <button 
      *ngIf="userProvider.rolePermission.ROLE_phan_loai_danh_gia_chat_luong_heo!=null
      && review_offset.includes((sectionTypeId).toString()) 
      && statusObjectKey[pig.statusId].code != statusPig.SOLD"
      data-balloon-visible data-balloon-length="medium" 
      data-balloon="Phân loại && Đánh giá"
      data-balloon-pos="left" ion-fab color="main"
      (tap)="reviewOffset()">
      <ion-icon name="app-hand"></ion-icon>
    </button>

    <button (tap)="mating_input()"
      *ngIf="userProvider.rolePermission.ROLE_ghi_nhan_phoi_giong!=null 
      && mating.includes((sectionTypeId).toString()) 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_SALE 
      && statusObjectKey[pig.statusId].code != statusPig.UNKNOW
      && pig.gender == gender.FEMALE
      && statusObjectKey[pig.statusId].code == statusPig.WAIT_FOR_MATING"
      data-balloon-visible data-balloon-length="medium" 
      data-balloon="Phối giống"
      data-balloon-pos="left" ion-fab color="main">
      <ion-icon name="app-hand"></ion-icon>
    </button>

    <button (tap)="breeding_input()"
      *ngIf="userProvider.rolePermission.ROLE_len_giong_heo_nai!=null 
      && breeding.includes((sectionTypeId).toString()) 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_SALE 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_MATING 
      && statusObjectKey[pig.statusId].code != statusPig.UNKNOW
      && pig.gender == gender.FEMALE"
      data-balloon-visible data-balloon-length="medium" 
      data-balloon="Lên giống"
      data-balloon-pos="left" ion-fab color="main">
      <ion-icon name="app-hand"></ion-icon>
    </button>

    <button (tap)="sperm_input()"
      *ngIf="userProvider.rolePermission.ROLE_khai_thac_tinh_heo!=null 
      && sperm.includes((sectionTypeId).toString()) 
      && statusObjectKey[pig.statusId].code != statusPig.WAIT_FOR_SALE 
      && statusObjectKey[pig.statusId].code != statusPig.UNKNOW
      && pig.gender == gender.MALE"
      data-balloon-visible data-balloon-length="medium" 
      data-balloon="Khai thác tinh heo"
      data-balloon-pos="left" ion-fab color="main">
      <ion-icon name="app-hand"></ion-icon>
    </button>


    <button 
      *ngIf="userProvider.rolePermission.ROLE_cap_nhat_thong_tin_heo!=null" 
      data-balloon-visible data-balloon-length="medium" 
      data-balloon="Chỉnh sửa thông tin" data-balloon-pos="left"
      ion-fab color="main" (tap)="edit()">
      <ion-icon name="md-create" ></ion-icon>
    </button>


    <button 
      *ngIf="userProvider.rolePermission.ROLE_xoa_heo!=null" 
      data-balloon-visible data-balloon-length="medium" 
      data-balloon="Xóa heo" data-balloon-pos="left"
      ion-fab color="danger" (tap)="remove()">
      <ion-icon name="md-trash"></ion-icon>
    </button>
  </ion-fab-list>
</ion-fab>