ion-icon {
    &[class*="app-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    // &[class*="warehouse"] {
    //     mask-image: url(../../../assets/imgs/warehouse-solid.svg);
    // }
    &[class*="pig-outline"] {
        mask-image: url(../../../assets/imgs/pig-outline.svg);
    }
    &[class*="farm"] {
        mask-image: url(../../../assets/imgs/farm.svg);
    }
    &[class*="sections"] {
        mask-image: url(../../../assets/imgs/sections.svg);
    }
    &[class*="section-single"] {
        mask-image: url(../../../assets/imgs/section.svg);
    }
    &[class*="function"] {
        mask-image: url(../../../assets/imgs/function.svg);
    }
    &[class*="pig-foot"] {
        mask-image: url(../../../assets/imgs/pig-foot.svg);
    }
    &[class*="employees"] {
        mask-image: url(../../../assets/imgs/employees.svg);
    }
    &[class*="schedule"] {
        mask-image: url(../../../assets/imgs/calendar.svg);
    }
    &[class*="user-account"] {
        mask-image: url(../../../assets/imgs/user-account.svg);
    }
    &[class*="qr-scanner"] {
        mask-image: url(../../../assets/imgs/qrcode-solid.svg);
    }
    &[class*="action"] {
        mask-image: url(../../../assets/imgs/chalkboard-teacher-solid.svg);
    }
    &[class*="warehouse"] {
        mask-image: url(../../../assets/imgs/warehouse.svg);
    }
    &[class*="food"] {
        mask-image: url(../../../assets/imgs/grain.svg);
    }
    &[class*="medicine"] {
        mask-image: url(../../../assets/imgs/pills-bottle.svg);
    }
    &[class*="setting"] {
        mask-image: url(../../../assets/imgs/settings.svg);
    }
    &[class*="item-setting"] {
        mask-image: url(../../../assets/imgs/list-item-setting.svg);
    }
    &[class*="partner"] {
        mask-image: url(../../../assets/imgs/users-solid.svg);
    }
    &[class*="activities"] {
        mask-image: url(../../../assets/imgs/briefcase-solid.svg);
    }
    &[class*="file"] {
        mask-image: url(../../../assets/imgs/file-alt-solid.svg);
    }
    &[class*="hand"] {
        mask-image: url(../../../assets/imgs/hand-paper-solid.svg);
    }
}