page-farms {
    .card-header{
        background:linear-gradient(to right,$themeColor2,$light-tint)
    }

    .card{
        background: $light-tint;
    }

    ion-col{
        padding:0px!important;
    }
}
