<ion-header>
  <header [title]="'Quản lý trang trại'"></header>
</ion-header>

<ion-content center no-padding showWhen="core">
  <ion-row *ngIf="farms">
    <ion-col col-md-4 col-sm-6 *ngFor="let farm of farms">
      <farm [farm]="farm"></farm>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content #content showWhen="ios,android">
  <ion-list>
    <button ion-item *ngFor="let farm of farms" (tap)="viewDetail(farm)">
      <ion-avatar item-start>
        <ion-icon name="app-farm" font28></ion-icon>
      </ion-avatar>
      <h2>{{farm.name}}</h2>
      <ion-row>
        <ion-col>
          <p>Tổng số heo: {{farm.total_pig}}</p>
        </ion-col>
        <ion-col>
          <p>Địa chỉ: {{farm.address}}</p>
        </ion-col>
        <ion-col>
          <p>Diện tích: {{farm.area}}</p>
        </ion-col>
        <ion-col>
          <p>Ngày thành lập: {{farm.founding}}</p>
        </ion-col>
      </ion-row>
    </button>
  </ion-list>
</ion-content>