<ion-header>
  <ion-toolbar>
    <ion-buttons left showWhen="ios,android">
      <button navPop ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar col-md-7 mode="ios" animated="true" debounce="500" [placeholder]="placeholderSearch"
      [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="setFilteredItems()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #contentExternalInvoice class="setting-util-component">
  <not-found-data *ngIf="!visible_items.length"></not-found-data>
  <div id="content" *ngIf="visible_items.length">
    <ion-item-divider custom-diviver sticky="true">Danh sách ghi nhận phối giống</ion-item-divider>
    <ion-list>
      <span *ngFor="let item of visible_items;let idx= index">
        <ion-item-sliding>
          <ion-item>
            <h2 *ngIf="mainAttribute"><b>{{item[mainAttribute]}}</b></h2>
            <ion-row>
              <ion-col *ngFor="let attr of attributes" [attr.col-6]="!platform.is('core')"
                [attr.col-xl-3]="platform.is('core')" [attr.col-lg-3]="platform.is('core')"
                [attr.col-md-4]="platform.is('core')" [attr.col-sm-6]="platform.is('core')"
                [attr.text-wrap]="platform.is('core')">
                <p *ngIf="!attr.usingBadge" style="padding:5px!important"><b>{{attr.label}}:</b> {{item[attr.name]}}
                </p>
                <p *ngIf="attr.usingBadge" style="padding:5px!important"><b>{{attr.label}}:</b>
                  <ion-badge *ngIf="item.status == statusMating.PROCESSING.codeName" style="padding: 5px" color="main">
                    {{item[attr.name]}}</ion-badge>
                  <ion-badge *ngIf="item.status == statusMating.COMPLETE.codeName" style="padding: 5px"
                    color="secondary">
                    {{item[attr.name]}}</ion-badge>
                  <ion-badge *ngIf="item.status == statusMating.FARROW.codeName" style="padding: 5px" color="main">
                    {{item[attr.name]}}</ion-badge>
                  <ion-badge *ngIf="item.status == statusMating.ABORTION.codeName" style="padding: 5px" color="danger">
                    {{item[attr.name]}}</ion-badge>
                  <ion-badge *ngIf="item.status == statusMating.BORNED.codeName" style="padding: 5px" color="secondary">
                    {{item[attr.name]}}</ion-badge>
                </p>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="platform.is('core') && !viewMode">
              <button 
                small ion-button item-end mode='ios' color="secondary"
                (tap)="viewDetail(item)">Xem chi tiết lên giống</button>
              <button 
                small ion-button item-end mode='ios' color="secondary"
                *ngIf="userProvider.rolePermission.ROLE_cap_nhat_thong_tin_phoi_giong!=null && item.status == statusMating.PROCESSING.codeName" 
                (tap)="edit(item)">Gieo tinh cho lần tiếp theo</button>
              <button   
                small ion-button item-end mode='ios' color="main"
                *ngIf="userProvider.rolePermission.ROLE_cap_nhat_thong_tin_phoi_giong!=null && item.status == statusMating.PROCESSING.codeName" 
                (tap)="edit(item)">Sửa</button>
              <button 
                small ion-button item-end mode='ios' color="danger"
                *ngIf="userProvider.rolePermission.ROLE_xoa_thong_tin_phoi_giong!=null && item.status == statusMating.PROCESSING.codeName" 
                (tap)="remove(item)">Xóa</button>
              <button 
                small ion-button item-end mode='ios' color="secondary" 
                *ngIf="userProvider.rolePermission.ROLE_xac_nhan_heo_mang_thai!=null && item.status == statusMating.COMPLETE.codeName && sectionType.id == section[4].id" 
                (tap)="markedFarrow(item)">Xác nhận heo mang thai</button>
              <button 
                small ion-button item-end mode='ios' color="secondary" 
                *ngIf="userProvider.rolePermission.ROLE_xac_nhan_heo_say_thai!=null && item.status == statusMating.FARROW.codeName && sectionType.id == section[4].id" 
                (tap)="markedAbortion(item)">Xác nhận heo sẩy thai</button>
              <button 
                small ion-button item-end mode='ios' 
                color="secondary" 
                *ngIf="userProvider.rolePermission.ROLE_ghi_nhan_thong_tin_heo_de!=null && item.status == statusMating.FARROW.codeName &&  sectionType.id == section[5].id" 
                (tap)="birth_input(item)">Nhập thông tin heo đẻ</button>
            </ion-row>
          </ion-item>
          <ion-item-options side="right" *ngIf="!platform.is('core') && !viewMode">
            <button   *ngIf="userProvider.rolePermission.ROLE_cap_nhat_thong_tin_phoi_giong!=null && item.status == statusMating.PROCESSING.codeName" 
                      (tap)="edit(item)" 
                      text-wrap ion-button color="secondary" 
                      style="font-size: 10px">Gieo tinh cho lần tiếp theo
            </button>
            <button   *ngIf="userProvider.rolePermission.ROLE_cap_nhat_thong_tin_phoi_giong!=null && item.status == statusMating.PROCESSING.codeName" 
                      (tap)="edit(item)" 
                      text-wrap ion-button color="main" 
                      style="font-size: 10px">Sửa
            </button>
            <button   *ngIf="userProvider.rolePermission.ROLE_xoa_thong_tin_phoi_giong!=null && item.status == statusMating.PROCESSING.codeName" 
                      (tap)="remove(item)"
                      text-wrap ion-button color="main" 
                      style="font-size: 10px">Xóa
            </button>
            <button   *ngIf="userProvider.rolePermission.ROLE_xac_nhan_heo_mang_thai!=null && item.status == statusMating.COMPLETE.codeName && sectionType.id == section[4].id" 
                      (tap)="markedFarrow(item)" 
                      text-wrap ion-button color="main" 
                      style="font-size: 10px">Xác nhận heo mang thai
            </button>
            <button   *ngIf="userProvider.rolePermission.ROLE_xac_nhan_heo_say_thai!=null && item.status == statusMating.FARROW.codeName && sectionType.id == section[4].id" 
                      (tap)="markedAbortion(item)" 
                      text-wrap ion-button color="main" 
                      style="font-size: 10px">Xác nhận heo sẩy thai
            </button>
            <button   *ngIf="userProvider.rolePermission.ROLE_ghi_nhan_thong_tin_heo_de!=null && item.status == statusMating.FARROW.codeName &&  sectionType.id == section[5].id" 
                      (tap)="birth_input(item)"
                      text-wrap ion-button color="main" 
                      style="font-size: 10px">Nhập thông tin heo đẻ
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </span>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadData($event)" *ngIf="page_Idx!==page_Total">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải dữ liệu...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <!-- <ion-fab bottom right showWhen="android,windows,ios" color="secondary">
      <button ion-fab (tap)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab> -->
</ion-content>