<ion-header showWhen="core">
  <ion-navbar>
    <ion-toolbar>
        <ion-row>
            <ion-col text-left align-self-center>
              <ion-title text-left>Thông tin chi tiết</ion-title>
            </ion-col>
            <ion-col text-right align-self-center>
              <button *ngIf="userProvider.rolePermission.ROLE_cap_nhat_thong_tin_heo!=null" ion-button mode='ios' color="secondary" (tap)="edit()">Chỉnh sửa thông tin</button>
              <button *ngIf="userProvider.rolePermission.ROLE_xoa_heo!=null" ion-button mode='ios' color="danger" (tap)="remove()">Xóa</button>
            </ion-col>
          </ion-row>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding showWhen="core">
  <ion-list>
    <ion-item-group>
      <ion-list>
        <ion-row>
          <ion-col col-sm-6 col-md-3>
            <ion-list no-padding>
              <ion-item>
                <ion-label stacked>Số tai heo :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pig.pigCode"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Giống :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="breed.name + ' ' + breed.symbol"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Giới tính :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="gender[pig.gender].name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Ngày sinh :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pig.birthdayDisplay"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Trang trại :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="house.section.farm.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Khu :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="house.section.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Nhà :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="house.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Ghi chú:</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pig.description"></ion-input>
              </ion-item>
            </ion-list>
          </ion-col>

          <ion-col col-sm-6 col-md-3>
            <ion-list no-padding>

              <ion-item>
                <ion-label stacked>Số tai mẹ :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="mother.pigCode"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Số tai cha :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="father.pigCode"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Trạng thái sức khỏe :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="healthStatus.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Trạng thái mang thai :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pregnancyStatus.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Hiện trạng :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="status[pig.statusId].name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Trọng lượng :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pig.originWeight"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Loại chân :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="foot.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Loại heo:</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pig.pigType"></ion-input>
              </ion-item>

            </ion-list>
          </ion-col>

          <ion-col col-sm-6 col-md-2>
            <ion-list no-padding>
              <ion-item>
                <ion-label stacked>Số vú :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pig.totalUdder"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Số vú chức năng:</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pig.functionUdder"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Bộ phận sinh dục:</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="gentitalType.name"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Thăn thịt:</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pig.filet"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Chiều dài thân:</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pig.longBack"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Chiều dài vòng ngực:</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pig.longBody"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Chỉ số mỡ lưng :</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pig.bf"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Chỉ số ADG:</ion-label>
                <ion-input text-wrap type="text" readonly [(ngModel)]="pig.adg"></ion-input>
              </ion-item>

            </ion-list>
          </ion-col>

          <ion-col col-sm-6 col-md-4>
            <ion-list no-padding>
              <div #chart></div>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-list>

    </ion-item-group>
  </ion-list>
</ion-content>

<ion-content showWhen="ios,android">
  <ion-list no-padding>
    <ion-item>
      <ion-label stacked>Số tai heo :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="pig.pigCode"></ion-input>
    </ion-item>
    <ion-item *ngIf="breed">
      <ion-label stacked>Giống :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="breed.name"></ion-input>
    </ion-item>
    <ion-item *ngIf="gender">
      <ion-label stacked>Giới tính :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="gender[pig.gender].name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Ngày sinh :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="pig.birthdayDisplay"></ion-input>
    </ion-item>
    <ion-item *ngIf="house">
      <ion-label stacked>Trang trại :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="house.section.farm.name"></ion-input>
    </ion-item>
    <ion-item *ngIf="house">
      <ion-label stacked>Khu :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="house.section.name"></ion-input>
    </ion-item>
    <ion-item *ngIf="house">
      <ion-label stacked>Nhà :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="house.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Số tai heo mẹ :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="mother.pigCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Số tai heo cha :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="father.pigCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Trọng lượng :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="pig.originWeight"></ion-input>
    </ion-item>
    <ion-item *ngIf="healthStatus">
      <ion-label stacked>Trạng thái sức khỏe :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="healthStatus.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Trạng thái mang thai :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="pregnancyStatus.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Hiện trạng :</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="status[pig.statusId].name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Số vú chức năng:</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="pig.functionUdder"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Bộ phận sinh dục:</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="gentitalType.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Loại heo:</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="pig.pigType"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Ghi chú:</ion-label>
      <ion-input text-wrap type="text" readonly [(ngModel)]="pig.description"></ion-input>
    </ion-item>
  </ion-list>


  <ion-fab bottom right showWhen="android,windows,ios">
    <button ion-fab>
      <ion-icon name="ios-arrow-up"></ion-icon>
    </button>
    <ion-fab-list side="top" style="right:0px">
      <button 
        *ngIf="userProvider.rolePermission.ROLE_cap_nhat_thong_tin_heo!=null" 
        data-balloon-visible data-balloon-length="medium" 
        data-balloon="Chỉnh sửa thông tin" data-balloon-pos="left"
        ion-fab color="main">
        <ion-icon name="md-create" (tap)="edit()"></ion-icon>
      </button>
      <button 
        *ngIf="userProvider.rolePermission.ROLE_xoa_heo!=null" 
        data-balloon-visible data-balloon-length="medium" 
        data-balloon="Xóa heo" data-balloon-pos="left"
        ion-fab color="danger" (tap)="remove()">
        <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>