<ion-header>
  <ion-toolbar>
    <ion-buttons left *ngIf="!platform.is('core')">
      <button navPop ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar col-md-7 mode="ios" animated="true" debounce="500" [placeholder]="placeholderSearch"
      [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="setFilteredItems()">
    </ion-searchbar>
    <ion-buttons right>
      <button ion-button font20 (tap)="openFilter()">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content #contentInternalInvoice class="setting-util-component">
  <div id="content">
    <ion-item-divider  custom-diviver sticky="true" *ngIf="platform.is('core')">
      <ion-row>
        <button no-margin ion-button item-end mode='ios' color="secondary" (tap)="viewListForwarding()">Danh sách chừng
          từ chuyển heo đến</button>
        <!-- <button no-margin ion-button item-end mode='ios' color="secondary" (tap)="add()">Thêm chứng từ</button> -->
      </ion-row>
    </ion-item-divider>
    <ion-list>
      <ion-item-sliding *ngFor="let item of visible_items">
        <button ion-item (tap)="input_pig(item)">
          <h2 *ngIf="mainAttribute"><b>Số chứng từ: </b>{{item[mainAttribute]}}</h2>
          <ion-row>
            <ion-col *ngFor="let attr of attributes" col-6 text-wrap>
              <p style="padding:5px!important"><b>{{attr.label}}:</b> {{item[attr.name]}}</p>
            </ion-col>
          </ion-row>
        </button>
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadData($event)" *ngIf="page_Idx!==page_Total">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải dữ liệu...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <ion-fab bottom right *ngIf="!platform.is('core')" color="secondary">
    <button color="main" ion-fab (tap)="viewListForwarding()" data-balloon-visible data-balloon-length="medium" data-balloon="Danh sách chừng
    từ chuyển heo đến" data-balloon-pos="left" ion-fab>
      <ion-icon name="md-information"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-menu [content]="mycontent" side="right" #menuFilter sticky="true" type="overlay" width="500">
  <ion-header>
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button font20 (tap)="closeFilter()">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Lọc theo tùy chọn</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label stacked>Đơn vị nguồn</ion-label>
        <ion-select interface="popover" title="Đơn vị nguồn" mode="ios" okText="Chọn" cancelText="Hủy"
          [selectOptions]="customAlertOptions" (ionChange)="filterSource($event)" placeholder="Tất cả">
          <ion-option [value]="''">Tất cả</ion-option>
          <ion-option *ngFor="let item of sourceFilter" [value]="item.value">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label stacked>Đơn vị nhận</ion-label>
        <ion-select interface="popover" title="Đơn vị nhận" mode="ios" okText="Chọn" cancelText="Hủy"
          [selectOptions]="customAlertOptions" (ionChange)="filterDestination($event)" placeholder="Tất cả">
          <ion-option [value]="''">Tất cả</ion-option>
          <ion-option *ngFor="let item of destinationFilter" [value]="item.value">{{item.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #mycontent></ion-nav>