<ion-header>
  <ion-toolbar>
    <ion-buttons left showWhen="ios,android">
      <button navPop ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar col-md-7 mode="ios" animated="true" debounce="500" [placeholder]="placeholderSearch"
      [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="setFilteredItems()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content #contentInternalInvoice class="setting-util-component">
  <div id="content">
    <ion-item-divider custom-diviver sticky="true" showWhen="core">
      <ion-row>
        <button no-margin ion-button item-end mode='ios' color="secondary" (tap)="viewListForwarding()">Danh sách chừng
          từ chuyển heo đến</button>
        <!-- <button no-margin ion-button item-end mode='ios' color="secondary" (tap)="add()">Thêm chứng từ</button> -->
      </ion-row>
    </ion-item-divider>
    <ion-list>
      <ion-item-sliding *ngFor="let item of visible_items">
        <button ion-item (tap)="input_pig(item)">
          <h2 *ngIf="mainAttribute"><b>Số chứng từ: </b>{{item[mainAttribute]}}</h2>
          <ion-row>
            <ion-col *ngFor="let attr of attributes" col-6 text-wrap>
              <p style="padding:5px!important"><b>{{attr.label}}:</b> {{item[attr.name]}}</p>
            </ion-col>
          </ion-row>
        </button>
      </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadData($event)" *ngIf="page_Idx!==page_Total">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải dữ liệu...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  <ion-fab bottom right showWhen="android,windows,ios" color="secondary">
    <button ion-fab (tap)="viewListForwarding()" data-balloon-visible data-balloon-length="medium" data-balloon="Danh sách chừng
    từ chuyển heo đến"
      data-balloon-pos="left" ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>