<ion-header>
  <ion-navbar>
    <ion-title>Thông tin tổng quát của heo</ion-title>
  </ion-navbar>
  <ion-toolbar showWhen='ios,android'>
    <ion-segment [(ngModel)]="tab" scrollable>
      <ion-segment-button value="0" (tap)="selectedTab(0)">Thông tin heo</ion-segment-button>
      <ion-segment-button value="1" (tap)="selectedTab(1)">Chỉ số heo</ion-segment-button>
      <ion-segment-button value="2" (tap)="selectedTab(1)">Hoạt động</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="platform.is('core')">
  <ion-row>
    <ion-col col-lg-3 col-md-4>
      <ion-card mode='ios'>
        <ion-card-header>Danh sách tùy chọn</ion-card-header>
        <ion-card-content class="ion-card-content-list-setting" no-padding>
          <ion-list *ngFor="let p of pages" no-lines no-margin>
            <span *ngIf="p.component">
              <button ion-item (click)="openPage(p);" [attr.active]="p.active?'':null" no-lines>
                <ion-icon item-start [name]="p.icon"></ion-icon>
                {{p.title}}
              </button>
            </span>
            <span *ngIf="p.components">
              <button ion-item (click)="p.expand = !p.expand;getActivities()" [attr.active]="p.active?'':null" no-lines>
                <ion-icon item-start [name]="p.icon"></ion-icon>
                {{p.title}}
              </button>
              <expandable [expanded]="p.expand" *ngIf="p.components">
                <ion-list>
                  <span *ngFor="let component of p.components">
                    <button *ngIf="!component.notShow" ion-item (click)="openPage(component);"
                      [attr.active]="component.active?'':null">{{component.title}}</button>
                  </span>
                </ion-list>
              </expandable>
            </span>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-lg-9 col-md-8 no-padding>
      <ion-nav [root]="rootPage" #activities [rootParams]="rootParam"></ion-nav>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content *ngIf="!platform.is('core')" class="mobile">
  <ion-slides #slider (ionSlideDidChange)="slideChange()">
    <ion-slide *ngIf="pig">
      <page-pig-infomation [pig]="pig"></page-pig-infomation>
    </ion-slide>
    <ion-slide *ngIf="pig">
      <page-pig-review-index [pig]="pig"></page-pig-review-index>
    </ion-slide>
  </ion-slides>
</ion-content>