<span #input *ngIf="validControl">
  <ion-item   (tap)="scrollTo()" 
              [attr.valid-mode]="(validControl.valid && active)?'':null"
              [attr.err-mode]="(!validControl.valid && active)?'':null">
    <ion-label stacked>{{label}}</ion-label>
    <ion-select 
        [disabled] = "disabled"
        [multiple] = "multiple"
        [(ngModel)]="validControl.value" 
        [selectOptions]="selectOptions"
        [interface]="interface"
        [okText]="okText"
        [placeholder]="placeholder"
        [cancelText]="cancelText"
        [formControl]="validControl"
        (ionChange)="eventChangeValue($event)">
        <ion-option *ngFor="let item of data" [value]="item.value">{{item.name}}</ion-option>
    </ion-select>
  </ion-item>
  <expandable [expanded]="!validControl.valid" *ngIf="active">
    <span *ngIf="validControl.errors">
      <p no-margin mt-5 err *ngIf="validControl.errors.required">
        <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> {{errorMessage_Required}}
      </p>
      <p no-margin mt-5 err *ngIf="validControl.errors.maxlength">
        <ion-icon name="md-information-circle" style="vertical-align: bottom"></ion-icon> {{errorMessage_Maxlength}}
      </p>
    </span>
  </expandable>
</span>

<span #input *ngIf="!validControl">
    <ion-label  *ngIf="label">{{label}}</ion-label>
    <ion-select 
        [multiple] = "multiple"
        [(ngModel)]="value" 
        [selectOptions]="selectOptions"
        [interface]="interface"
        [okText]="okText"
        [placeholder]="placeholder"
        [cancelText]="cancelText"
        (ionChange)="eventChangeValue2($event)">
        <ion-option *ngFor="let item of data" [value]="item.value">{{item.name}}</ion-option>
    </ion-select>
</span>